<template>
  <div class="product-categories-carousel-wrap">
    <div class="title-sec" :class="{'badge-enabled' : badge}">
      <h2 class="sec-title flex middle-xs center-xs m0">
        <img :src="badge" alt="Badge" v-if="badge" class="mr20 badge-mobile">
        <div class="sec-title-wrap">
          <div class="sec-title-cover" :style="titleBadge">
            <div class="sec-title-cover-cover" v-if="seeAllLink">
              <router-link
                :to="seeAllLink"
              >
                {{ title }}
                <div class="sec-subtitle align-center m0" v-if="subTitle">
                  {{ subTitle }}
                </div>
              </router-link>
            </div>
            <div class="sec-title-cover-cover" v-else>
              {{ title }}
              <div class="sec-subtitle align-center m0" v-if="subTitle">
                {{ subTitle }}
              </div>
            </div>
          </div>
          <div class="flex end-md see-all-link-wrap" v-if="seeAllLink">
            <router-link
              class="see-all-link"
              :to="seeAllLink"
            >
              {{ $t('See All') }}
              <svg class="ml8" width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 0.550781L12.4497 5.50053L7.5 10.4503" stroke="#666666" stroke-width="1.5" />
                <path d="M0.5 5.50049H12.5796" stroke="#666666" stroke-width="1.5" />
              </svg>
            </router-link>
          </div>
        </div>
      </h2>
    </div>
    <div class="product-categories-carousel" v-if="topCategories.length > 0">
      <no-ssr>
        <carousel
          :per-page="1"
          :per-page-custom="perPageCustom"
          :mouse-drag="false"
          :pagination-enabled="paginationEnabled"
          :navigation-enabled="navigationEnabled"
          pagination-active-color="#67B6C3"
          :autoplay="false"
          :scroll-per-page="false"
          navigation-next-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.89844 21L11.7979 11.1005L1.89844 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
          navigation-prev-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.9023 21L3.00285 11.1005L12.9023 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
        >
          <slide v-for="(topCategory, index) of topCategories" :key="index">
            <div class="category align-center">
              <div class="category-img-wrap">
                <span class="category-index">{{ topCategory.rank }}</span>
                <div class="category-img">
                  <router-link
                    :to="topCategory.url_path"
                  >
                    <img :src="getCategoryImage(topCategory.cat_image_thumbnail)" :alt="topCategory.name">
                  </router-link>
                </div>
              </div>
              <div class="category-title">
                <router-link
                  :to="topCategory.url_path"
                >
                  {{ topCategory.name }}
                </router-link>
              </div>
            </div>
          </slide>
          <slide class="h-auto flex middle-xs center-xs" v-if="seeAllLink">
            <div class="see-all-btn">
              <router-link class="see-all" :to="seeAllLink">
                <span>
                  <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#67B6C3" stroke-width="3" />
                  </svg>
                </span>
                <strong>
                  {{ $t('See All') }}
                </strong>
              </router-link>
            </div>
          </slide>
        </carousel>
      </no-ssr>
    </div>
  </div>
</template>
<script>
import NoSSR from 'vue-no-ssr';
import config from 'config'

export default {
  name: 'TopRankedCategories',
  props: {
    categories: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      default: ''
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    paginationEnabled: {
      type: Boolean,
      default: false
    },
    navigationEnabled: {
      type: Boolean,
      default: true
    },
    limit: {
      type: Number,
      default: 1
    },
    seeAllLink: {
      type: String,
      default: ''
    },
    badge: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      topCategories: []
    };
  },
  components: {
    Carousel: () => import('vue-carousel').then(Slider => Slider.Carousel),
    Slide: () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR
  },
  created () {
    this.topCategories = this.categories
  },
  computed: {
    titleBadge () {
      return {
        '--titleBadge': 'url(' + this.badge + ')'
      }
    }
  },
  methods: {
    getCategoryImage (image) {
      return config.aureatelabs.category.imgUrl + '/' + image;
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$pink-EB8097: color(pink-EB8097);
$white: color(white);
$color-secondary: color(secondary);
$gray-DBDBDB: color(gray-DBDBDB);
$gray-DDDDDD: color(gray-DDDDDD);

.product-categories-carousel {
  .VueCarousel-inner {
    margin: 0 -1.6%;
  }

  .VueCarousel-slide {
    padding: 0 1.6%;
  }

  .VueCarousel-navigation-button {
    padding: 0;

    svg {
      path {
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $color-secondary;
        }
      }
    }

    &.VueCarousel-navigation--disabled {
      &:hover {
        svg {
          path {
            stroke: $gray-DBDBDB;
          }
        }
      }
    }
  }

  .VueCarousel-pagination {
    .VueCarousel-dot-container {
      margin: 35px auto 0 !important;
      display: block;
      font-size: 0;

      .VueCarousel-dot {
        width: 25px !important;
        height: 3px !important;
        padding: 0 !important;
        margin: 5px 4px 0 !important;
        border-radius: 0;
        background-color: $gray-DDDDDD !important;

        &.VueCarousel-dot--active {
          background-color: $color-secondary !important;
        }
      }
    }
  }

  .category {
    &:hover {
      .category-title {
        a {
          color: $color-secondary;
        }
      }
    }
  }

  .category-img-wrap {
    position: relative;
    display: inline-block;

    .category-img {
      border-radius: 50%;
      overflow: hidden;
      display: block;
      margin: 0 auto;
      width: 180px;
      height: 180px;
      transition: all 0.3s ease 0s;
      transform: scale(1);

      @media (max-width: 767px) {
        width:100%;
        height:auto;
        max-width: 150px;
        max-height: 150px;
      }

      a {
        display: block;
      }

      &:hover {
        transform: scale(0.9);
      }
    }

    .category-index {
      border: 2px solid;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 600;
      background-color: $pink-EB8097;
      color: $white;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;

      @media (max-width: 767px) {
        font-size: 12px;
        width: 30px;
        height: 30px;
      }
    }
  }

  .category-title {
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0 0;

    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }
}
</style>
