<template>
  <div class="sample-popup">
    <modal name="modal-product-sample">
      <i
        slot="close"
        class="modal-close material-icons"
        @click="close"
        data-testid="closeModalButton"
      >
        close
      </i>
      <p slot="header" />
      <div slot="content">
        <div v-if="product.sample_read_content" v-html="product.sample_read_content" />
        <div v-else>
          {{ $t('No sample data found') }}
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import i18n from '@vue-storefront/i18n'
import Modal from 'theme/components/core/Modal'

export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    Modal
  },
  methods: {
    close (e) {
      if (e) localStorage.removeItem('redirect')
      this.$bus.$emit('modal-hide', 'quick-view-modal')
    }
  }
}
</script>
<style lang="scss">
.sample-popup{
  .modal {
    z-index: 11;
    .modal-container{
      overflow: initial;

      @media (max-width: 767px) {
        height: 90%;
      }

      .modal-header{
        padding: 0;
        margin: 0;
        background: transparent;
        p{
          display: none;
        }
      }
      .modal-content{
        background: transparent;
      }
    }
    .modal-close{
      position: absolute;
      right: 0;
      top: 0;
      color: #333435;
      font-size: 24px;
      padding: 5px;
      border-radius: 100%;

      @media (max-width: 767px) {
        font-size: 21px;
      }
    }
  }
}
</style>
