<template>
  <div v-if="brand[0]">
    <div class="brands-breadcrumbs">
      <div class="container">
        <breadcrumbs
          :routes="[{name: 'PHOENIX', route_link: '/'}, {name: 'Shop By Brand', route_link: '/brands'}]"
          :active-route="$t('' + getBreadcrumb + '')"
        />
      </div>
    </div>
    <div class="brand-detail-wrap">
      <div class="container">
        <div class="shaded-box brand-detail-info">
          <div class="brand-detail-img">
            <img class="object-cover" :src="brand[0].image" :alt="brand[0].brand_name">
          </div>
          <div class="brand-detail-desc">
            <h1 class="brand-detail-title">
              {{ brand[0].brand_name }}
            </h1>
            <p class="brand-detail-txt" v-html="brand[0].brand_description" />
          </div>
        </div>
      </div>
    </div>
    <div class="brand-related-products-wrap" v-if="relatedBrands">
      <div class="container">
        <div class="shaded-box brand-related-products">
          <div class="product-count" v-if="relatedBrands.length > 0">
            {{ relatedBrands.length }} {{ $t('Item(s)') }}
          </div>
          <div class="no-related-products" v-if="relatedBrands.length < 1">
            {{ $t('There are no related products.') }}
          </div>
          <product-listing columns="4" :products="relatedBrands" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import JsonData from 'theme/resource/brand-landing-page.json';
import SearchQuery from '@vue-storefront/core/lib/search/searchQuery'
import config from 'config'
import ProductListing from 'theme/components/core/ProductListing.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import { quickSearchByQuery } from '@vue-storefront/core/lib/search';
import { mapGetters } from 'vuex'

export default {
  name: 'BrandDetails',
  data () {
    return {
      data: '',
      dataParams: [],
      relatedBrands: []
    };
  },
  components: {
    ProductListing,
    Breadcrumbs
  },
  mounted () {
    // this.BrandProduct(this.$route.params.slug)
    this.getBrandProducts();
  },
  computed: {
    ...mapGetters({
      brand: 'brands/getBrandBySlug'
    }),
    getBreadcrumb () {
      return this.brand ? this.brand[0].brand_name : '';
    }
  },
  async created () {
    await this.$store.dispatch('brands/getBrandBySlug', { 'filterValues': this.$route.params.slug });
  },
  methods: {
    async getBrandProducts () {
      if (this.brand) {
        await this.$store.dispatch('brands/getBrandBySlug', { 'filterValues': this.$route.params.slug });
      }

      let query = new SearchQuery()
      query = query.applyFilter({ key: 'id', value: { 'eq': this.brand[0].brand_products.split(',') } })
      query = query.applyFilter({ key: 'visibility', value: { 'in': [2, 4] } })
      query = query.applyFilter({ key: 'status', value: { 'eq': 1 } })
      let productResponse = await quickSearchByQuery({ query, entityType: 'product', size: 500, sort: 'id:desc' })
        .then((resp) => {
          return resp
        })
      if (productResponse.items) this.relatedBrands = productResponse.items
      return this.relatedBrands
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-2D242D: color(gray-2D242D);
$gray-EEEEEE: color(gray-EEEEEE);

.brands-breadcrumbs {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.brand-detail-wrap {
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-bottom: 20px;
  }

  .brand-detail-info {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    .brand-detail-img {
      border-radius: 10px 0 0 10px;
      overflow: hidden;
      flex: 0 0 56.3%;
      max-width: 56.3%;
      background-color: $gray-EEEEEE;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        max-height: 260px;
      }
      @media (max-width: 991px) {
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 10px 10px 0 0;
        img {
          max-height: 100%;
        }
      }
    }

    .brand-detail-desc {
      padding: 30px 40px;

      @media (max-width: 767px) {
        padding: 20px;
      }
    }

    .brand-detail-title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 23px;

      @media (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }

    .brand-detail-txt {
      line-height: 1.67;
      font-size: 18px;
      color: $gray-2D242D;

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
    .object-cover{
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}

.brand-related-products-wrap {
  padding-bottom: 80px;

  @media (max-width: 767px) {
    padding-bottom: 20px;
  }

  .brand-related-products {
    padding: 70px;
    .no-related-products {
      text-align: center;
      font-weight: 600;
    }
    @media (max-width: 767px) {
      padding: 15px;
    }

    .product-listing {
      & > div[class*="col-"] {
        @media (min-width: 1200px) {
          flex-basis: 20%;
          max-width: 20%;

          &:nth-child(n+5) {
            margin-top: 0;
          }

          &:nth-child(n+6) {
            margin-top: 50px;
          }
        }
      }
    }
  }
}
</style>
