<template>
  <div>
    <section class="section">
      <div class="container">
        <breadcrumbs
          class="mb30"
          :routes="[{name: 'PHOENIX', route_link: '/'}]"
          :active-route="pageTitle"
        />
        <div class="shaded-box">
          <div v-html="pageContent" />
          <div class="align-center mt50">
            <router-link to="/faqs" class="let-us-help-btn">
              <i class="material-icons">
                info
              </i> &nbsp;
              <span>{{ $t('Help Center') }}</span>
              <i class="material-icons">
                keyboard_arrow_right
              </i>
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Breadcrumbs from '../components/core/Breadcrumbs.vue'

export default {
  data () {
    return {
      pageTitle: '',
      pageContent: ''
    }
  },
  components: {
    Breadcrumbs
  },
  mounted () {
    this.getPageData();
  },
  methods: {
    getPageData () {
      this.$store.dispatch('cmsPage/single', { value: 'element-page', setCurrent: true }).then(cmsPage => {
        this.pageTitle = cmsPage.title;
        this.pageContent = cmsPage.content;
      })
    }
  }
}
</script>
