<template>
  <div id="page_not_found">
    <section>
      <div class="container">
        <div class="row center-xs">
          <div class="col-xs-12 col-lg-10">
            <div class="shaded-box page_not_found_container">
              <h2 class="page_not_found_title">
                {{ $t("500") }}
              </h2>
              <div class="page_not_found_detail">
                <h3 class="page_not_found_txt">
                  {{ $t("We've noticed Internal Server Error while rendering this request.") }}
                </h3>
                <p>
                  <router-link :to="localizedRoute('/')" class="btn-fill btn-secondary inline-flex">
                    {{ $t('Go To Homepage') }}
                  </router-link>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Error from '@vue-storefront/core/pages/Error'

export default {
  name: 'Error',
  mixins: [Error]
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);

.page_not_found_container {
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 8% 20%;

  @media (max-width: 1199px) {
    padding: 8% 10%;
  }

  @media (max-width: 767px) {
    padding: 40px 20px;
  }
}
.page_not_found_title {
  font-size: 40px;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.page_not_found_txt {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: $gray-666666;
  margin-bottom: 50px;

  @media (max-width: 767px) {
    font-size: 12px;
    margin-bottom: 30px;
  }
}
</style>
