<template>
  <section class="faqs-section">
    <div class="container">
      <breadcrumbs
        class="mb30"
        :routes="[{name: 'PHOENIX', route_link: '/'}]"
        active-route="FAQs"
      />
    </div>
    <div class="container">
      <div class="faqs-content shaded-box">
        <h1 class="page-title mb40 align-center cl-black">
          {{ $t('FAQs') }}
        </h1>
        <div class="faqs-wrap">
          <div class="faqs-search">
            <input type="text" name="faqs_search" placeholder="Keyword">
            <button type="submit" class="faq-search-btn material-icons">
              search
            </button>
          </div>
          <div class="accordian-box pt60">
            <div class="accordian-item">
              <h5 @click="openAccordian(1)" :class="activeAcordian === 1 ? 'toggle-open' : 'toggle-close'" aria-hidden="true">
                {{ $t('How Long Will It Take To Get My Order ?') }}
                <i class="fa" />
              </h5>
              <div class="accordian-sub fcontent-1">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of
                  type and scrambled it to make a type specimen book. It has
                  survived not only five centuries
                </p>
              </div>
            </div>
            <div class="accordian-item">
              <h5 @click="openAccordian(2)" :class="activeAcordian === 2 ? 'toggle-open' : 'toggle-close'" aria-hidden="true">
                {{ $t('When Is My Order Shipped ?') }}
                <i class="fa" />
              </h5>
              <div class="accordian-sub fcontent-2">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of
                  type and scrambled it to make a type specimen book. It has
                  survived not only five centuries
                </p>
              </div>
            </div>
            <div class="accordian-item">
              <h5 @click="openAccordian(3)" :class="activeAcordian === 3 ? 'toggle-open' : 'toggle-close'" aria-hidden="true">
                {{ $t('Do You Offer Bulk Discounts For Multiple Purchases ?') }}
                <i class="fa" />
              </h5>
              <div class="accordian-sub fcontent-3">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of
                  type and scrambled it to make a type specimen book. It has
                  survived not only five centuries
                </p>
              </div>
            </div>
            <div class="accordian-item">
              <h5 @click="openAccordian(4)" :class="activeAcordian === 4 ? 'toggle-open' : 'toggle-close'" aria-hidden="true">
                {{ $t('How Long Does It Take To Process A Refund ?') }}
                <i class="fa" />
              </h5>
              <div class="accordian-sub fcontent-4">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of
                  type and scrambled it to make a type specimen book. It has
                  survived not only five centuries
                </p>
              </div>
            </div>
            <div class="accordian-item">
              <h5 @click="openAccordian(5)" :class="activeAcordian === 5 ? 'toggle-open' : 'toggle-close'" aria-hidden="true">
                {{ $t('How Long Will It Take For My Order To Arrive ?') }}
                <i class="fa" />
              </h5>
              <div class="accordian-sub fcontent-5">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of
                  type and scrambled it to make a type specimen book. It has
                  survived not only five centuries
                </p>
              </div>
            </div>
          </div>
          <div class="faq-pagination">
            <a href="#" class="faq-pagination-prev">Prev</a>
            <a href="#" class="faq-pagination-number active">1</a>
            <a href="#" class="faq-pagination-number">2</a>
            <span class="faq-pagination-dots">...</span>
            <a href="#" class="faq-pagination-number">5</a>
            <a href="#" class="faq-pagination-next">Next</a>
          </div>
          <div class="need-help-btn align-center">
            <span class="cl-gray-666666 mb15">{{ $t('Need futher help?') }}</span>
            <router-link :to="localizedRoute('/contact')">
              <span class="material-icons">mail</span>{{ $t('Contact Us') }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
export default {
  data () {
    return {
      activeAcordian: null
    };
  },
  components: {
    Breadcrumbs
  },
  methods: {
    openAccordian (digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
        document
          .getElementsByClassName(`fcontent-${this.activeAcordian}`)[0]
          .classList.remove('active');
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit;
      document
        .getElementsByClassName(`fcontent-${digit}`)[0]
        .classList.toggle('active');
    }
  }
};
</script>

<style lang="scss" scoped>
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $white: color(white);
  $black: color(black);
  $gray-DDDDDD: color(gray-DDDDDD);
  $cyan-67B6C3: color(cyan-67B6C3);
  $gray-888888: color(gray-888888);

.faqs-section {
  padding: 25px 0 80px;
  .shaded-box {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .faqs-search {
    max-width: 350px;
    margin: auto auto 50px;
    position: relative;
    input {
      border: 2px solid $gray-DDDDDD;
      width: 100%;
      border-radius: 4px;
      padding: 0 50px 0 15px;
      font-size: 18px;
      color: $gray-888888;
    }
    .faq-search-btn {
      position: absolute;
      right: 10px;
      border: 0;
      background: none;
      font-size: 35px;
      top: 6px;
      color: $cyan-67B6C3;
      padding: 0;
      transition: 0.3s;
      &:hover {
        color: $black;
      }
    }
  }
  @media (max-width:767px) {
    padding: 25px 0 50px;
    .shaded-box {
      padding: 40px 24px;
    }
    .faqs-search {
      margin-bottom: 30px;
      input {
        font-size: 16px;
      }
    }
  }
  .faqs-content{
    .faqs-wrap {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
.accordian-item {
  background-color: $white;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 20px;

  &:last-child {
    border-bottom: 1px solid $gray-DDDDDD;
  }
  h5 {
    font-size: 18px;
    padding: 15px 40px 15px 0;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: pointer;
    font-weight: normal;
    color: $black;
    display: flex;
    line-height: 180%;
    transition: 0.3s;
    &:hover {
      color: $cyan-67B6C3;
    }
    &:before {
      content: "Q.";
      color: $cyan-67B6C3;
      font-weight: 600;
      font-size: 26px;
      align-self: flex-start;
      line-height: 110%;
      margin-right: 15px;
    }
    .fa {
      font-size: 22px;
      transition: all 0.3s ease-out;
      position: relative;
      position: absolute;
      right:15px;
      top: 0;
      bottom: 0;
      &:after, &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left:0px;
        background:$cyan-67B6C3;
        width: 20px;
        height: 2px;
        border-radius: 2px;
        @media (max-width:767px) {
          width: 16px;
          height: 2px;
        }
      }
      &:before {
        left:9px;
        height: 20px;
        width: 2px;
        @media (max-width:767px) {
          height: 16px;
          left: 7px;
          width: 2px;
        }
      }
    }
  }
  .toggle-open{
    color:$cyan-67B6C3;
    border-bottom: 2px solid $gray-888888;
    .fa{
      &::before{
        display: none;
      }
    }
  }
  .accordian-sub {
    margin-top: 0;
    transition: all 0.3s ease;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);
    &.active {
      height: auto;
      opacity: 1;
      transform: translateY(0);
      padding: 20px 0;
    }
    p {
      font-size: 18px;
      color: $black;
      line-height: 180%;
    }
  }
}
@media (max-width:767px) {
  .accordian-item {
    h5 {
      font-size: 14px;
      line-height: 160%;
      &:before {
        line-height: 100%;
        margin-right: 10px;
        font-size: 20px;
      }
    }
    .accordian-sub {
      p {
        font-size: 14px;
        line-height: 160%;
      }
    }
  }
}
.faq-pagination {
    text-align: center;
    margin: 80px 0;
    a {
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 0 1px;
      border-radius: 50%;
      color: $black;
      &.active, &:hover {
        background:$cyan-67B6C3;
        color: $white;
      }
    }
    .faq-pagination-prev, .faq-pagination-next {
      font-size: 18px;
      margin: 0 10px;
      border-radius:0;
      width: auto;
      &:hover {
        background:transparent;
        color:$cyan-67B6C3;
      }
    }
    .faq-pagination-dots {
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      line-height: 31px;
      letter-spacing: 2px;
      font-weight: bold;
      color: $black;
    }
    @media (max-width:767px) {
      margin: 30px 0;
      a {
        width: 34px;
        height: 34px;
        line-height: 34px;
      }
      .faq-pagination-prev, .faq-pagination-next {
        font-size: 16px;
        margin: 0 5px;
      }
    }
}
.need-help-btn {
  > span {
    display: block;
  }
  a {
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    padding: 0 30px;
    color: $cyan-67B6C3;
    span {
      vertical-align: middle;
      margin-right: 10px;
      font-size: 30px;
      line-height: inherit;
      margin-top: -2px;
    }
    &:hover {
      background-color: $cyan-67B6C3;
      color: $white;
    }
  }
}
</style>
