<template>
  <li class="product-item" :class="{ 'relative': editMode }">
    <div class="mx10 w-100 py10 mb15 edit-mode flex between-xs middle-xs" v-if="editMode">
      Edit mode
      <button class="brdr-none bg-cl-transparent" @click="closeEditMode">
        <span class="cl-accent">
          <i class="material-icons cl-accent mr5">
            close
          </i>
        </span>
      </button>
    </div>
    <div class="product-image-wrap">
      <router-link :to="productLink">
        <div class="product-cover">
          <product-image :image="image" />
        </div>
      </router-link>
    </div>
    <div class="product-item-content">
      <div class="product-item-text">
        <div class="product-item-text-wrap">
          <h5 class="product-item-title">
            <router-link :to="productLink" data-testid="productLink" @click.native="$store.commit('ui/setMicrocart', false)">
              {{ product.name | htmlDecode }}
            </router-link>
          </h5>
          <div class="h6 pt5 cl-error" v-if="hasProductErrors">
            {{ product.errors | formatProductMessages }}
          </div>
          <div class="product-item-info-list">
            <div class="product-item-info-item" v-if="getAuthorname">
              <span class="product-item-info-title">{{ $t('Author Name: ') }}</span>
              <span class="product-item-info-text weight-600 text-underline cl-primary">{{ getAuthorname }}</span>
            </div>
            <div class="product-item-info-item" v-if="product.number_of_pages">
              <span class="product-item-info-title">{{ $t('Number of Page: ') }}</span>
              <span class="product-item-info-text">{{ product.number_of_pages }}</span>
            </div>
          </div>
          <product-quantity
            class="h5 cl-primary lh25 qty"
            :value="productQty"
            :max-quantity="maxQuantity"
            :loading="isStockInfoLoading"
            :is-simple-or-configurable="isSimpleOrConfigurable"
            @input="updateProductQty"
            @error="handleQuantityError"
          />
        </div>
      </div>
      <div class="product-item-price-sec">
        <div class="weight-700 cl-secondary h1">
          <div class="prices" v-if="!displayItemDiscounts || !isOnline">
            <span class="h4 serif cl-error price-special" v-if="product.special_price">
              {{ product.price_incl_tax * product.qty | price(storeView) }}
            </span>
            <span class="h6 serif price-original" v-if="product.special_price">
              {{ product.original_price_incl_tax * product.qty | price(storeView) }}
            </span>
            <span class="h4 serif price-regular" v-else data-testid="productPrice">
              {{ (product.original_price_incl_tax ? product.original_price_incl_tax : product.price_incl_tax) * product.qty | price(storeView) }}
            </span>
          </div>
          <div class="prices" v-else-if="isOnline && product.totals">
            <span class="h4 serif cl-error price-special" v-if="product.totals.discount_amount">
              {{ product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount | price(storeView) }}
            </span>
            <span class="h6 serif price-original" v-if="product.totals.discount_amount">
              {{ product.totals.row_total_incl_tax | price(storeView) }}
            </span>
            <span class="h4 serif price-regular" v-if="!product.totals.discount_amount">
              {{ product.totals.row_total_incl_tax | price(storeView) }}
            </span>
          </div>
          <div class="prices" v-else>
            <span class="h4 serif price-regular">
              {{ (product.regular_price || product.price_incl_tax) * product.qty | price(storeView) }}
            </span>
          </div>
        </div>
        <div class="mt5">
          <remove-button @click="removeItemFromCart(product)" />
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import Product from '@vue-storefront/core/compatibility/components/blocks/Microcart/Product'

import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import ProductImage from 'theme/components/core/ProductImage'
// import ColorSelector from 'theme/components/core/ColorSelector.vue'
// import SizeSelector from 'theme/components/core/SizeSelector.vue'
import RemoveButton from './RemoveButton'
// import EditButton from './EditButton'
import { onlineHelper } from '@vue-storefront/core/helpers'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption'
import { getThumbnailForProduct, getProductConfiguration } from '@vue-storefront/core/modules/cart/helpers'
// import ButtonFull from 'theme/components/theme/ButtonFull'
import EditMode from './EditMode'
import i18n from '@vue-storefront/i18n'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false
    }
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    RemoveButton,
    ProductImage,
    // ColorSelector,
    // SizeSelector,
    // EditButton,
    // ButtonFull,
    ProductQuantity
  },
  mixins: [Product, ProductOption, EditMode],
  computed: {
    ...mapState({
      isMicrocartOpen: state => state.ui.microcart
    }),
    ...mapGetters({
      attributesByCode: 'attribute/attributeListByCode'
    }),
    hasProductInfo () {
      return this.product.info && Object.keys(this.product.info).length > 0
    },
    hasProductErrors () {
      const errors = this.product.errors || {}
      const errorsValuesExists = Object.keys(errors).filter(errorKey => errors[errorKey]).length > 0
      return errorsValuesExists
    },
    isTotalsActive () {
      return this.isOnline && !this.editMode && this.product.totals && this.product.totals.options
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    productsAreReconfigurable () {
      return config.cart.productsAreReconfigurable && this.product.type_id === 'configurable' && this.isOnline
    },
    displayItemDiscounts () {
      return config.cart.displayItemDiscounts
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    thumbnail () {
      return getThumbnailForProduct(this.product)
    },
    configuration () {
      return getProductConfiguration(this.product)
    },
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    editMode () {
      return this.getEditingProductId === this.product.id
    },
    productQty () {
      return this.editMode ? this.getEditingQty : this.product.qty
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.product.type_id)
    },
    isUpdateCartDisabled () {
      return this.quantityError ||
        this.isStockInfoLoading ||
        (this.isOnline && !this.maxQuantity && this.isSimpleOrConfigurable)
    },
    storeView () {
      return currentStoreView()
    },
    getAuthorname () {
      if (this.product.author) {
        let authordata = this.attributesByCode.author.options;
        let author = authordata.find(auther => parseInt(auther.value) === parseInt(this.product.author))
        return author.label
      }
      return '';
    }
  },
  methods: {
    updateProductVariant () {
      this.updateVariant()
      this.closeEditMode()
    },
    updateProductQty (qty) {
      if (this.editMode) {
        this.editModeSetQty(qty)
        return
      }

      this.updateQuantity(qty)
    },
    removeFromCart () {
      this.$store.dispatch('cart/removeItem', { product: this.product })
    },
    updateQuantity (quantity) {
      this.$store.dispatch('cart/updateQuantity', { product: this.product, qty: quantity })
    },
    async getQuantity (product) {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const validProduct = product || this.product
        const res = await this.$store.dispatch('stock/check', {
          product: validProduct,
          qty: this.productQty
        })
        return res.qty
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    async changeEditModeFilter (filter) {
      const editedProduct = this.getEditedProduct(filter)
      const maxQuantity = await this.getQuantity(editedProduct)
      if (!maxQuantity) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t(
            'The product is out of stock and cannot be added to the cart!'
          ),
          action1: { label: this.$t('OK') }
        })
      } else if (maxQuantity < this.productQty) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Only {maxQuantity} products of this type are available!', { maxQuantity }),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.maxQuantity = maxQuantity
        this.editModeSetFilters(filter)
      }
    },
    removeItemFromCart (product) {
      this.removeFromCart(product)
      // this.$store.dispatch('ui/toggleMicrocart')
      // this.$store.commit('ui/setSidebar', false)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: '<svg data-v-83fdf1b2="" width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr5"><g data-v-83fdf1b2="" id="Cart"><g data-v-83fdf1b2="" id="Rectangle"><path data-v-83fdf1b2="" id="Rectangle_2" d="M1.98742 7.13556C1.90673 6.39593 2.48603 5.75 3.23005 5.75H21.6309C22.5797 5.75 23.1826 6.7656 22.7283 7.59857L18.9101 14.5986C18.6911 15.0001 18.2702 15.25 17.8127 15.25H3.99368C3.35579 15.25 2.82023 14.7697 2.75106 14.1356L1.98742 7.13556Z" fill="#a8a8a8" fill-opacity="1" stroke="#a8a8a8" stroke-width="1.5"></path></g> <path data-v-83fdf1b2="" id="Path 3" d="M1 1.5H6" stroke="#a8a8a8" stroke-width="1.5" stroke-linecap="round"></path> <circle data-v-83fdf1b2="" id="Oval" cx="5.5" cy="20.5" r="1.5" fill="#a8a8a8"></circle> <circle data-v-83fdf1b2="" id="Oval Copy 6" cx="13.9" cy="20.5" r="1.5" fill="#a8a8a8"></circle></g></svg><span class="cl-gray-666666">' + i18n.t('Item removed from Cart') + '</span>'
      }, { root: true })
    }
  },
  watch: {
    isOnline: {
      async handler (isOnline) {
        if (isOnline) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      }
    },
    isMicrocartOpen: {
      async handler (isOpen) {
        if (isOpen) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-secondary: color(secondary);
$color-white: color(white);

  .blend {
    flex: 0 0 150px;
  }

  .image {
    mix-blend-mode: multiply;
    vertical-align: top;
    width: 150px;
    @media (max-width: 767px) {
      width: 100px;
    }
  }

  .details {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
  }

  .name {
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  .options, .sku {
    @media (max-width: 767px) {
      font-size: 10px;
    }
  }

  .qty {
    padding-right: 30px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  .actions {
    margin: 0 -5px;
  }

  .prices {
    flex-direction: column;
    @media (max-width: 767px) {
      padding: 0;
      font-size: 12px;
    }
  }

  .price-special {
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  .price-original {
    text-decoration: line-through;
  }

  input {
    width: 30px;
  }

  .flex-nowrap {
    flex-wrap: nowrap;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .edit-mode {
    border-bottom: 1px solid color(white-smoke);
  }

  .filters {
    flex: 1 1 200px;
  }

  .update-button {
    font-size: 14px;
    min-width: 150px;
    width: 150px;
    padding: 10px;
  }

  .product-item {
    display: flex;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .product-image-wrap {
      flex: 0 0 120px;
      max-width: 120px;

      @media (max-width: 767px) {
        flex: 0 0 112px;
        max-width: 112px;
      }

      @media (max-width: 575px) {
        flex: 0 0 80px;
        max-width: 80px;
      }

      .product-cover {
        border-radius: 6px;
        overflow: hidden;
        position: relative;

        &__thumb {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            left: 0;
            width: 100%;
            background-color: rgba($color-white, 0.6);
            opacity: 0;
            transition: all 0.5s ease 0s;
          }
        }

        &:hover {
          .product-cover__thumb {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }

    .product-item-content {
      flex: calc(100% - 120px);
      max-width: calc(100% - 120px);
      padding-left: 15px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 767px) {
        flex: calc(100% - 112px);
        max-width: calc(100% - 112px);
      }

      @media (max-width: 575px) {
        flex: calc(100% - 80px);
        max-width: calc(100% - 80px);
      }
    }

    .product-item-title {
      margin-bottom: 10px;

      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    .product-item-info-list {
      font-weight: 500;
      font-size: 13px;
      color: $gray-666666;
      margin-bottom: 15px;
      line-height: 1.5;

      @media (max-width: 767px) {
        font-size: 10px;
      }
    }

    .product-quantity {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      margin: 0;
      padding: 0;
    }
  }
  .read-sample-btn {
    min-width: 160px;
    min-height: 44px;
  }
  .product-item-price-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 10px;

    @media (max-width: 767px) {
      padding-bottom: 10px;
    }
  }
  .product-item-text-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .product-item-btn-wrap {
    flex-grow: 1;
    align-items: flex-end;
    display: flex;
  }
</style>
