<template>
  <div class="reviews" :class="accordionClasses">
    <h2 class="h3 m0 serif lh20 weight-700 details-title accordion-header" :class="accordionHeaderArrow" @click="toggleAccordion">
      {{ $t('Add Your Review') }}
    </h2>
    <div class="accordion-body">
      <div class="details-wrapper">
        <div class="your-rating flex">
          <label class="title">
            {{ $t('Your Rating :') }}
          </label>
          <div class="control review-control-vote">
            <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_1" value="1" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
            <label class="rating-1" for="Rating_1" title="1 star" id="Rating_1_label">
              <span>
                {{ $t('1 star') }}
              </span>
            </label>
            <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_2" value="2" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
            <label class="rating-2" for="Rating_2" title="2 stars" id="Rating_2_label">
              <span>
                {{ $t('2 stars') }}
              </span>
            </label>
            <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_3" value="3" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
            <label class="rating-3" for="Rating_3" title="3 stars" id="Rating_3_label">
              <span>
                {{ $t('3 stars') }}
              </span>
            </label>
            <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_4" value="4" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
            <label class="rating-4" for="Rating_4" title="4 stars" id="Rating_4_label">
              <span>
                {{ $t('4 stars') }}
              </span>
            </label>
            <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_5" value="5" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
            <label class="rating-5" for="Rating_5" title="5 stars" id="Rating_5_label">
              <span>
                {{ $t('5 stars') }}
              </span>
            </label>
          </div>
        </div>
        <div class="block cl-error h6 mt5 align-left" v-if="$v.formData.ratings.$error">
          {{ $t('Please select one of each of the ratings above.') }}
        </div>
        <form action="#" @submit.prevent="outOfScope()">
          <div class="mb10">
            <base-input
              type="text"
              :placeholder="$t('First name') + ' *'"
              v-model="formData.name"
              @blur="$v.formData.name.$touch()"
              :validations="[
                {
                  condition: $v.formData.name.$error && !$v.formData.name.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.formData.name.minLength,
                  text: $t('Name must have at least 2 letters.')
                }
              ]"
            />
          </div>
          <div class="mb10">
            <base-input
              type="email"
              :placeholder="$t('Email address') + ' *'"
              v-model="formData.email"
              @blur="$v.formData.email.$touch()"
              :validations="[
                {
                  condition: $v.formData.email.$error && !$v.formData.email.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.formData.email.email && $v.formData.email.$error,
                  text: $t('Please provide valid e-mail address.')
                }
              ]"
            />
          </div>
          <div class="mb10">
            <base-input
              type="text"
              :placeholder="$t('Summary') + ' *'"
              v-model="formData.summary"
              @blur="$v.formData.summary.$touch()"
              :validations="[
                {
                  condition: $v.formData.summary.$error && !$v.formData.summary.required,
                  text: $t('Field is required')
                }
              ]"
            />
          </div>
          <div class="mb25">
            <base-textarea
              type="text"
              :placeholder="$t('Review') + ' *'"
              v-model="formData.review"
              @blur="$v.formData.review.$touch()"
              :validations="[
                {
                  condition: $v.formData.review.$error && !$v.formData.review.required,
                  text: $t('Field is required')
                }
              ]"
            />
          </div>
          <div class="row m0 middle-xs center-xs start-sm buttons">
            <button-full
              @click.native="validate()"
              :class="{ 'w-auto': !currentUser }"
            >
              <img src="/assets/plus-white.svg" alt="">
              {{ $t('Add review') }}
            </button-full>
            <no-ssr>
              <span
                class="fs-medium ml20 cl-gray lh30 py5 block"
                v-if="!currentUser"
              >
                {{ $t('or') }} <a href="#" class="cl-primary" @click.prevent="login()">{{ $t('login') }}</a> {{ $t('to account') }}
              </span>
            </no-ssr>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ReviewsList from 'theme/components/theme/blocks/Reviews/ReviewsList'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'
import { AddReview } from '@vue-storefront/core/modules/review/components/AddReview'
import NoSSR from 'vue-no-ssr'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'AddReviews',
  data () {
    return {
      formData: {
        name: '',
        email: '',
        summary: '',
        review: '',
        ratings: ''
      },
      isOpen: false,
      isOpenShowing: false,
      totalRatings: {
        one: 0,
        two: 0,
        three: 0,
        four: 0,
        five: 0
      }
    }
  },
  props: {
    productId: {
      type: [String, Number],
      required: true
    },
    productName: {
      type: String,
      default: ''
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    },
    noOfReviews () {
      return (this.$store.state.review.items.items) ? this.$store.state.review.items.items.length : 0
    },
    getRatings () {
      let ratings = 0;
      let i;
      let reviews = this.$store.state.review.items.items;
      this.clearRatings(null);
      let bifurcate = { one: 0, two: 0, three: 0, four: 0, five: 0 }

      if (reviews) {
        for (i in reviews) {
          let item = reviews[i];
          ratings += parseInt(item.ratings);
          switch (parseInt(item.ratings)) {
            case 1: bifurcate.one++; break;
            case 2: bifurcate.two++; break;
            case 3: bifurcate.three++; break;
            case 4: bifurcate.four++; break;
            case 5: bifurcate.five++; break;
            default: break;
          }
        }
      }
      this.clearRatings(bifurcate);
      return (reviews && reviews.length && ratings > 0) ? Math.round(ratings / reviews.length) : 0;
    },
    accordionClasses () {
      return {
        'is-closed': !this.isOpen
      };
    },
    accordionHeaderArrow () {
      return {
        'plus': !this.isOpen,
        'minus': this.isOpen
      }
    }
  },
  methods: {
    validate () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      }
    },
    refreshList () {
      this.$store.dispatch('review/list', { productId: this.productId })
    },
    async submit () {
      const isReviewCreated = await this.$store.dispatch('review/add', {
        'product_id': this.productId,
        'title': this.formData.summary,
        'detail': this.formData.review,
        'nickname': this.formData.name,
        'review_entity': 'product',
        'customer_id': this.currentUser ? this.currentUser.id : null,
        'ratings': [{
          'rating_name': 'Rating',
          'value': this.formData.ratings
        }]
      })

      if (isReviewCreated) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You submitted your review for moderation.'),
          action1: { label: i18n.t('OK') }
        })

        return
      }

      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: i18n.t('Something went wrong. Try again in a few seconds.'),
        action1: { label: i18n.t('OK') }
      })
    },
    clearReviewForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.summary = ''
      this.formData.review = ''
      this.formData.ratings = ''
      this.$v.$reset()
    },
    login () {
      this.$bus.$emit('modal-show', 'modal-signup')
    },
    fillInUserData () {
      if (this.currentUser) {
        this.formData.name = this.currentUser.firstname
        this.formData.email = this.currentUser.email
      }
    },
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    },
    clearRatings (data) {
      if (data == null) {
        this.totalRatings.one = 0
        this.totalRatings.two = 0
        this.totalRatings.three = 0
        this.totalRatings.four = 0
        this.totalRatings.five = 0
      } else {
        this.totalRatings = data;
      }
    }
  },
  mounted () {
    this.$bus.$on('product-after-load', this.refreshList)
    this.$bus.$on('clear-add-review-form', this.clearReviewForm)
    this.$bus.$on('user-after-loggedin', this.fillInUserData)
  },
  destroyed () {
    this.$bus.$off('product-after-load', this.refreshList)
    this.$bus.$off('clear-add-review-form', this.clearReviewForm)
    this.$bus.$off('user-after-loggedin', this.fillInUserData)
  },
  beforeMount () {
    this.refreshList()
    this.fillInUserData()
  },
  mixins: [ Reviews ],
  validations: {
    formData: {
      name: {
        minLength: minLength(2),
        required
      },
      email: {
        required,
        email
      },
      summary: {
        required
      },
      review: {
        required
      },
      ratings: {
        required
      }
    }
  },
  components: {
    ButtonFull,
    BaseInput,
    BaseTextarea,
    'no-ssr': NoSSR
  }
}
</script>
<style lang="scss">
.your-rating{
  padding-bottom: 10px;
  .title{
    padding-top:4px;
  }
}
.review-control-vote {
  overflow: hidden;
  margin: 2px 0 0 15px;
}
.review-control-vote:before {
  color: #D8D8D8;
  font-family: 'Material Icons';
  font-size: 22px;
  height: 22px;
  letter-spacing: 2px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  content: 'star_rate' 'star_rate' 'star_rate' 'star_rate' 'star_rate';
  display: block;
  position: absolute;
}
.review-control-vote input[type="radio"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.review-control-vote input[type="radio"]:hover + label:before,
.review-control-vote input[type="radio"]:checked + label:before {
  opacity: 1;
}
.review-control-vote label {
  cursor: pointer;
  display: block;
  position: absolute;
}
.review-control-vote label span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.review-control-vote label:before {
  color: #F5BE77;
  font-family: 'Material Icons';
  font-size: 22px;
  height: 22px;
  letter-spacing: 2px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
}
.review-control-vote label:hover:before {
  opacity: 1;
}
.review-control-vote label:hover ~ label:before {
  opacity: 0;
}
.review-control-vote .rating-5 {
  z-index: 2;
}
.review-control-vote .rating-5:before {
  content: 'star_rate' 'star_rate' 'star_rate' 'star_rate' 'star_rate';
}
.review-control-vote .rating-4 {
  z-index: 3;
}
.review-control-vote .rating-4:before {
  content: 'star_rate' 'star_rate' 'star_rate' 'star_rate';
}
.review-control-vote .rating-3 {
  z-index: 4;
}
.review-control-vote .rating-3:before {
  content: 'star_rate' 'star_rate' 'star_rate';
}
.review-control-vote .rating-2 {
  z-index: 5;
}
.review-control-vote .rating-2:before {
  content: 'star_rate' 'star_rate';
}
.review-control-vote .rating-1 {
  z-index: 6;
}
.review-control-vote .rating-1:before {
  content: 'star_rate';
}
.review-control-vote:before {
  content: 'star_rate' 'star_rate' 'star_rate' 'star_rate' 'star_rate';
}
</style>
