<template>
  <div class="order-review" :class="{ 'active' : isActive || isFilled }">
    <div class="row">
      <div class="col-auto col-md-1 number-circle-wrap">
        <div
          class="number-circle"
        >
          {{ (isVirtualCart ? 3 : 4) }}
        </div>
      </div>
      <div class="col-xs col-md-11">
        <div class="row mb5">
          <div class="col-md-12">
            <h3 class="order-tab-title">
              {{ $t('Review order') }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row pr20" v-show="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row mb15">
          <div class="col-xs-12">
            <div class="filled-info">
              <p class="warning-alert">
                {{ $t('Do Not Close or refresh web browser until payment is confirmed') }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-show="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="flex mt15 mb20 middle-xs button-container-wrap">
          <div class="button-container">
            <slot name="placeOrderButton">
              <button
                @click="placeNewOrder"
                data-testid="orderReviewSubmit"
                class="place-order-btn btn-fill btn-secondary"
              >
                {{ $t('PLACE THE ORDER') }}
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Composite from '@vue-storefront/core/mixins/composite'
import { OrderReview } from '@vue-storefront/core/modules/checkout/components/OrderReview'
import { OrderModule } from '@vue-storefront/core/modules/order'
import { registerModule } from '@vue-storefront/core/lib/modules'
export default {
  mixins: [OrderReview, Composite],
  beforeCreate () {
    registerModule(OrderModule)
  },
  methods: {
    placeNewOrder () {
      this.placeOrder();
      this.$bus.$on('order-after-placed', this.paymentRedirection)
    },
    paymentRedirection () {
      if (this.$parent.getPaymentMethod() === 'p2c2ppayment') {
        let paymentDetails = this.$store.getters['p2c2pPayment/getPaymentDetails']
        this.$store.dispatch('p2c2pPayment/processPayment', paymentDetails)
      } else if (this.$parent.getPaymentMethod() === 'p123payment') {
        this.$store.dispatch('p2c2pPayment/processQRPayment')
      }
    },
    onSuccess () {
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$burnt-sienna: color(burnt-sienna);
$yellow-F4BE76: color(yellow-F4BE76);

  .link {
    text-decoration: underline;
  }

  .cartsummary-wrapper {
    @media (min-width: 767px) {
      display: none;
    }
  }

  .warning-alert {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 4px;
    color: $yellow-F4BE76;
    border: 1px solid $yellow-F4BE76;
    background-color: rgba($yellow-F4BE76, 0.06);

    @media (max-width: 767px) {
      padding: 15px;
    }
  }

  .error-alert {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 4px;
    color: $burnt-sienna;
    border: 1px solid $burnt-sienna;
    background-color: rgba($burnt-sienna, 0.06);

    @media (max-width: 767px) {
      padding: 15px;
    }
  }
</style>
