<template>
  <li class="product-item">
    <div class="product-image-wrap">
      <div class="product-cover">
        <product-image :image="image" />
      </div>
    </div>
    <div class="product-item-content">
      <div class="product-item-text">
        <div class="product-item-text-wrap">
          <h5 class="product-item-title">
            {{ product.name | htmlDecode }}
          </h5>
          <div class="h6 pt5 cl-error" v-if="product.errors && Object.keys(product.errors).length > 0">
            {{ product.errors | formatProductMessages }}
          </div>
          <div class="product-item-info-list">
            <div class="product-item-info-item" v-if="getAuthorname">
              <span class="product-item-info-title">{{ $t('Author Name: ') }}</span>
              <span class="product-item-info-text weight-600 text-underline cl-primary">{{ getAuthorname }}</span>
            </div>
            <div class="product-item-info-item" v-if="product.number_of_pages">
              <span class="product-item-info-title">{{ $t('Number of Page: ') }}</span>
              <span class="product-item-info-text">{{ product.number_of_pages }}</span>
            </div>
          </div>
          <product-quantity
            class="h5 cl-primary lh25 qty"
            :value="product.qty"
            :max-quantity="product.max_sale_qty"
            :loading="isStockInfoLoading"
            :is-simple-or-configurable="isSimpleOrConfigurable"
            @input="updateProductQty"
            @error="handleQuantityError"
          />
        </div>
      </div>
      <div class="product-item-price-sec">
        <div class="weight-700 cl-secondary h1">
          <div class="prices" v-if="isOnline && product.totals">
            <span class="cl-error" v-if="product.totals.discount_amount">{{ product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount | price(storeView) }} </span>
            <span class="price-original h5" v-if="product.totals.discount_amount">{{ product.totals.row_total_incl_tax | price(storeView) }}</span>
            <span v-if="!product.totals.discount_amount">{{ product.totals.row_total_incl_tax | price(storeView) }}</span>
          </div>
          <div class="prices" v-else>
            <span class="cl-error" v-if="product.special_price">{{ product.price_incl_tax * product.qty | price(storeView) }} </span>
            <span class="price-original h5" v-if="product.special_price">{{ product.original_price_incl_tax * product.qty | price(storeView) }}</span>
            <span v-if="!product.special_price">{{ product.price_incl_tax * product.qty | price(storeView) }}</span>
          </div>
        </div>
        <div class="mt5">
          <button @click="removeItemFromCart" class="brdr-none bg-cl-transparent clear-btn flex middle-xs p0">
            <i class="material-icons pointer mr5">cancel</i>
            {{ $t('Delete') }}
          </button>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import { Product } from '@vue-storefront/core/modules/checkout/components/Product'
import { onlineHelper } from '@vue-storefront/core/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import config from 'config'
import { mapGetters } from 'vuex'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'

export default {
  data () {
    return {
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false
    }
  },
  computed: {
    ...mapGetters({
      attributesByCode: 'attribute/attributeListByCode'
    }),
    storeView () {
      return currentStoreView()
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    getAuthorname () {
      if (this.product.author) {
        let authordata = this.attributesByCode.author.options;
        let author = authordata.find(auther => parseInt(auther.value) === parseInt(this.product.author))
        return author.label
      }
      return '';
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.product.type_id)
    }
  },
  mixins: [Product],
  components: {
    ProductImage,
    ProductQuantity
  },
  methods: {
    removeFromCart () {
      this.$store.dispatch('cart/removeItem', { product: this.product })
    },
    removeItemFromCart () {
      if (config.cart.askBeforeRemoveProduct) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          item: this.product,
          message: '<div class="cl-gray-666666">' + this.$t('Are you sure?') + '<br/><span>' + this.$t('Do you really want to delete these records? This process cannot be undone.') + '</span></div>',
          action2: { label: this.$t('Delete'), action: this.removeFromCart },
          action1: { label: this.$t('Cancel'), action: 'close' },
          hasNoTimeout: true
        })
      } else {
        this.removeFromCart()
      }
    },
    updateProductQty (qty) {
      if (this.editMode) {
        this.editModeSetQty(qty)
        return
      }

      this.updateQuantity(qty)
    },
    updateQuantity (quantity) {
      this.$store.dispatch('cart/updateQuantity', { product: this.product, qty: quantity })
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    async getQuantity (product) {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const validProduct = product || this.product
        const res = await this.$store.dispatch('stock/check', {
          product: validProduct,
          qty: this.product.qty
        })
        return res.qty
      } finally {
        this.isStockInfoLoading = false
      }
    }
  },
  watch: {
    isOnline: {
      async handler (isOnline) {
        if (isOnline) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-secondary: color(secondary);
$color-white: color(white);

.price-original {
  text-decoration: line-through;
}

.product-item {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .product-image-wrap {
    flex: 0 0 120px;
    max-width: 120px;

    @media (max-width: 1270px) {
      flex: 0 0 80px;
      max-width: 80px;
    }

    .product-cover {
      border-radius: 6px;
      overflow: hidden;
      position: relative;

      &__thumb {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          left: 0;
          width: 100%;
          background-color: rgba($color-white, 0.6);
          opacity: 0;
          transition: all 0.5s ease 0s;
        }
      }

      &:hover {
        .product-cover__thumb {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .product-item-content {
    flex: calc(100% - 120px);
    max-width: calc(100% - 120px);
    padding-left: 15px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1270px) {
      flex: calc(100% - 80px);
      max-width: calc(100% - 80px);
    }
  }

  .product-item-title {
    margin-bottom: 10px;
  }

  .product-item-info-list {
    font-weight: 500;
    font-size: 13px;
    color: $gray-666666;
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .product-quantity {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
  }
}

.product-item-text-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.clear-btn {
  margin: 0;
  color: $gray-666666;
  font-weight: 500;
  font-size: 12px;

  .material-icons {
    font-size: 15px;
  }

  &:hover {
    color: $color-secondary;
  }
}

.product-item-price-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 10px;

  .h1 {
    @media (max-width: 1270px) {
      font-size: 16px;
    }
  }
}
</style>

<style lang="scss">
.product-item {
  .product-quantity {
    .qty-element-label {
      display: none;
    }
  }
}
</style>
