<template>
  <div class="login-page register-page">
    <div class="modal-content pt20 pb50 px50">
      <div class="login-tab pb40">
        <a href="#" @click.prevent="switchElem">
          {{ $t('Log in') }}
        </a>
        <a
          class="active"
          href="#"
          @click.prevent="switchElem"
          data-testid="registerLink"
        >
          {{ $t('Register') }}
        </a>

        <i
          slot="close"
          class="modal-close material-icons cl-white"
          @click="close"
        >
          {{ $t('close') }}
        </i>
      </div>

      <div class="login-form-wrap">
        <form class="login-form" @submit.prevent="register" novalidate>
          <div class="row mb10">
            <base-input
              class="col-xs-12 col-md-6"
              type="text"
              name="first-name"
              autocomplete="given-name"
              v-model="firstName"
              @blur="$v.firstName.$touch()"
              :placeholder="$t('First name *')"
              :validations="[
                {
                  condition: !$v.firstName.required && $v.firstName.$error,
                  text: $t('Field is required.')
                },
                {
                  condition: !$v.firstName.minLength,
                  text: $t('Name must have at least 2 letters.')
                },
                {
                  condition: !$v.firstName.alpha && $v.firstName.$error,
                  text: $t('Accepts only alphabet characters.')
                }
              ]"
            />
            <base-input
              class="col-xs-12 col-md-6"
              type="text"
              name="last-name"
              autocomplete="last-name"
              v-model="lastName"
              @blur="$v.lastName.$touch()"
              :placeholder="$t('Last name *')"
              :validations="[
                {
                  condition: !$v.lastName.required && $v.lastName.$error,
                  text: $t('Field is required.')
                },
                {
                  condition: !$v.lastName.alpha && $v.lastName.$error,
                  text: $t('Accepts only alphabet characters.')
                }
              ]"
            />
          </div>
          <div class="row mb10">
            <date-picker
              v-model="dob"
              :input-attr="{ name: 'dob' }"
              class="col-xs-12 col-md-6"
              :placeholder="$t('Date of birth *')"
              :disabled-date="(date) => date >= new Date()"
              valueType="format"
              format="YYYY-MM-DD"
            />
            <base-select
              class="col-xs-12 col-md-6"
              name="gender"
              :options="genderOptions"
              :selected="gender"
              :placeholder="$t('Gender *')"
              :validations="[
                {
                  condition: $v.gender.$error && !$v.gender.required,
                  text: $t('Field is required')
                }
              ]"
              v-model="gender"
              autocomplete="gender"
              @blur="$v.gender.$touch()"
              @change="$v.gender.$touch()"
            />
          </div>
          <base-input
            class="mb10 email-input"
            type="email"
            name="email"
            autocomplete="email"
            v-model="email"
            @blur="$v.email.$touch()"
            :placeholder="$t('E-mail address *')"
            :validations="[
              {
                condition: !$v.email.required && $v.email.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.email.email && $v.email.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
          <base-input
            class="mb10 password-input"
            type="password"
            name="password"
            ref="password"
            autocomplete="new-password"
            v-model="password"
            @blur="$v.password.$touch()"
            :placeholder="$t('Password *')"
            :validations="[
              {
                condition: !$v.password.required && $v.password.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.password.minLength && $v.password.$error,
                text: $t('Password must have at least 8 letters.')
              }
            ]"
          />
          <base-input
            class="mb10 password-input"
            type="password"
            name="password-confirm"
            autocomplete="new-password"
            v-model="rPassword"
            @blur="$v.rPassword.$touch()"
            :placeholder="$t('Repeat password *')"
            :validations="[
              {
                condition: !$v.rPassword.required && $v.rPassword.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.rPassword.sameAsPassword && $v.rPassword.$error,
                text: $t('Passwords must be identical.')
              }
            ]"
          />
          <base-checkbox class="mb10" id="is_subscribed" v-model="isSubscribed">
            {{ $t('Sign Up for Newsletter') }}
          </base-checkbox>
          <vue-recaptcha
            class="my20 google-captcha"
            :sitekey="googleSiteKey"
            :load-recaptcha-script="true"
            @verify="submit"
          />
          <button-full :disabled="$v.$invalid" class="mb20" type="submit">
            {{ $t('Register an account') }}
          </button-full>

          <div class="center-xs">
            {{ $t('or') }}
            <social-signup />
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import Register from '@vue-storefront/core/compatibility/components/blocks/Auth/Register';
import ButtonFull from 'theme/components/theme/ButtonFull.vue';
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue';
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue';
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect.vue';
import {
  required,
  email,
  minLength,
  sameAs,
  alpha
} from 'vuelidate/lib/validators';
import config from 'config';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import VueRecaptcha from 'vue-recaptcha';
import SocialSignup from 'src/modules/aureatelabs/social-auth/components/SocialLogin';
export default {
  data () {
    return {
      gender: '',
      dob: '',
      verified: ''
    };
  },
  validations: {
    email: {
      required,
      email
    },
    firstName: {
      minLength: minLength(2),
      required,
      alpha
    },
    lastName: {
      required,
      alpha
    },
    gender: {
      required
    },
    dob: {
      required
    },
    password: {
      minLength: minLength(8),
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    }
  },
  mixins: [Register],
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
    BaseSelect,
    DatePicker,
    VueRecaptcha,
    SocialSignup
  },
  computed: {
    genderOptions () {
      return config.aureatelabs.genders.map(item => {
        return {
          value: item.value,
          label: this.$t(item.label)
        };
      });
    },
    googleSiteKey () {
      return config.aureatelabs.googleRecaptchaSiteKey;
    }
  },
  methods: {
    submit (response) {
      if (response) {
        this.verified = true
      }
    },
    register () {
      if (this.$v.$invalid) {
        this.$v.$touch();
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors')
        });
        return;
      }

      if (!this.verified) {
        this.$v.$touch();
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please check the captcha')
        });
        return;
      }

      this.callRegister();
    },
    onSuccess () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are signed in successfully.')
      });
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result)
      });
    }
  }
};
</script>

<style lang='scss' scoped>
.login-module {
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modal-close {
    cursor: pointer;
  }
  .modal-content {
    @media (max-width: 400px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .modal-container {
    height: unset;
    overflow: auto;
  }
}
</style>
