<template>
  <div class="continue-shopping">
    <modal name="continue-shopping-modal">
      <div class="relative">
        <i
          slot="close"
          class="modal-close material-icons"
          @click="close"
          data-testid="closeModalButton"
        >
          close
        </i>
        <div class="row">
          <div class="message" v-if="product">
            <span>{{ $t('You have added ') }} {{ product }} {{ $t(' to your cart.') }}</span>
          </div>
          <div class="message" v-else>
            <span>{{ $t('You have added product to your cart.') }}</span>
          </div>
          <div class="button-list">
            <button class="btn-outlined mt8 w-100" @click="close">
              {{ $t('Continue Shopping') }}
            </button>
            <button class="btn-outlined mt8 w-100" @click="checkout">
              {{ $t('Proceed to Checkout') }}
            </button>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Modal from 'theme/components/core/Modal';

export default {
  name: 'ContinueShopping',
  props: {
    product: {
      required: true,
      type: String
    }
  },
  components: {
    Modal
  },
  methods: {
    close (e) {
      if (e) localStorage.removeItem('redirect')
      this.$bus.$emit('modal-hide', 'continue-shopping-modal')
    },
    checkout () {
      this.$bus.$emit('modal-hide', 'continue-shopping-modal')
      this.$store.dispatch('ui/toggleMicrocart')
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-888888: color(gray-888888);
$gray-444444: color(gray-444444);
$yellow-F5BE77: color(yellow-F5BE77);
$blue-76A3E4: color(blue-76A3E4);
$color-primary: color(primary);

.continue-shopping {
    .button-list {
        width: 100%;
    }
    .message {
        width: 100%;
        margin-bottom: 20px;
    }
.modal {
    .modal-container {
      padding: 50px;
      height: auto;
      width: 500px;

      @media (max-width: 767px) {
        padding: 50px 16px 16px;
        height: 90%;
        overflow-y: auto;
      }
    }
}
.modal-close {
    position: absolute;
    right: -30px;
    top: -35px;
    cursor: pointer;
    transition: all 0.5s ease 0s;

    @media (max-width: 767px) {
        right: -10px;
        top: -45px;
    }

    &:hover {
        color: $color-secondary;
    }
}
button {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
}

</style>
