<template>
  <div class="quick-view">
    <modal name="quick-view-modal">
      <div class="relative">
        <i
          slot="close"
          class="modal-close material-icons"
          @click="close"
          data-testid="closeModalButton"
        >
          close
        </i>
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <div
              class="product-cover"
            >
              <div class="product__icons">
                <AddToWishlist :product="product">
                  <span
                    class="product__icon wishlist-icon"
                    :class="{'product__icon--active': isOnWishlist }"
                    :title="isOnWishlist ? $t('Remove') : $t('Add to favorite') "
                  >
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path id="Path" fill-rule="evenodd" clip-rule="evenodd" d="M12.6364 1C15.0463 1 17 2.91878 17 5.28571C17 9.57027 9 16 9 16C9 16 1 9.57114 1 5.28571C1 2.91878 2.95367 1 5.36364 1C6.88183 1 8.21894 1.76148 9.00061 2.91676C9.78106 1.76148 11.1182 1 12.6364 1Z" fill="#A3A3A3" fill-opacity="0.1" stroke="#A3A3A3" stroke-width="1.5" />
                    </svg>
                  </span>
                </AddToWishlist>
              </div>
              <router-link
                class="block no-underline product-link"
                :to="productLink"
                data-testid="productLink"
                @click.native="close"
              >
                <product-image
                  class="product-cover__thumb"
                  :image="thumbnailObj"
                  :alt="product.name | htmlDecode"
                  :calc-ratio="false"
                  data-testid="productImage"
                />
              </router-link>
            </div>
          </div>
          <div class="col-xs-12 col-md-7">
            <div class="product-tile-info">
              <h5 class="product-tile-title">
                <router-link
                  class="block no-underline product-link"
                  :to="productLink"
                  data-testid="productLink"
                  @click.native="close"
                >
                  {{ product.name | htmlDecode }}
                </router-link>
              </h5>
              <div class="product-item-info-list">
                <div class="product-item-info-item" v-if="getAuthorname">
                  <span class="product-item-info-title">{{ $t('Author Name: ') }}</span>
                  <span class="product-item-info-text weight-600 text-underline cl-primary">{{ getAuthorname }}</span>
                </div>
                <div class="product-item-info-item">
                  <span class="product-item-info-title">{{ $t('Release Date: ') }}</span>
                  <span class="product-item-info-text">{{ product.created_at | date('DD-MM-YYYY') }}</span>
                </div>
              </div>
              <div class="product-rating-wrap">
                <div class="product-review middle-xs pt15 pb20">
                  <div class="star-row">
                    <span v-for="index in 5" :key="index" class="star" :class="(index <= getRatingData) ? 'checked': ''" />
                  </div>
                  <span class="cl-gray-888888 f-s-14">{{ noOfReviewsData }} {{ $t("Customer Review(s)") }}</span>
                </div>
              </div>
              <div class="product-tile-description" v-html="product.short_description" v-if="product.short_description" />
              <div class="product-tile-price">
                <product-price
                  :product="product"
                />
              </div>
              <div class="info-btn-list">
                <div class="info-btn-item btn-yellow">
                  <img src="/assets/reward-hand.svg" alt="Reward Points" class="mr5">
                  You Get {{ getRewardpoints.result }} reward points
                </div>
                <div class="info-btn-item btn-blue">
                  <img src="/assets/delivery-time.svg" alt="Delivery Time" class="mr5">
                  {{ $t('Get Deliverd by Tomorow') }}
                  <img src="/assets/blue-tooltip.svg" alt="Tooltip" class="ml5">
                </div>
              </div>
              <quantity-box
                v-if="product.type_id !== 'grouped' && product.type_id !== 'bundle' && product.stock && product.stock.is_in_stock"
                v-model.number="product.qty"
                :aria-label="'Quantity'"
                :has-label="true"
                :custom-width="10"
                class="lg:mt-10"
                size="lg"
              />
              <div class="product-tile-actions">
                <add-to-cart-with-price
                  :product="product"
                  :key="product.id"
                />
                <button class="btn-outlined mt8 w-100" @click="$bus.$emit('read-sample-popup',product)" :disabled="product.read_sample !== 1">
                  {{ $t('Read sample') }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import Modal from 'theme/components/core/Modal';
import config from 'config'
import ProductImage from '../../ProductImage'
import ProductPrice from '../../ProductPrice'
import { productThumbnailPath } from '@vue-storefront/core/helpers'
import AddToCartWithPrice from 'theme/components/core/AddToCartWithPrice'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import QuantityBox from './QuantityBox'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import i18n from '@vue-storefront/i18n'
import { mapGetters } from 'vuex'

export default {
  name: 'ProductQuickView',
  mixins: [IsOnWishlist],
  props: {
    product: {
      required: true,
      type: Object
    }
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true
    }
  },
  components: {
    ProductImage,
    ProductPrice,
    AddToCartWithPrice,
    AddToWishlist,
    QuantityBox,
    Modal
  },
  computed: {
    ...mapGetters({
      attributesByCode: 'attribute/attributeListByCode'
    }),
    getRewardpoints () {
      return this.$store.getters['productRewardPoints/getProductRewards'];
    },
    thumbnail () {
      let thumbnail = productThumbnailPath(this.product)
      return this.getThumbnail(thumbnail, 600, 1000)
    },
    thumbnailObj () {
      return {
        src: this.thumbnail,
        loading: this.thumbnail
      }
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity
    },
    productLink () {
      return formatProductLink(this.product)
    },
    storeView () {
      return currentStoreView()
    },
    getRatingData () {
      let ratings = 0;
      let i;
      let item;
      let reviews = this.$store.state.review.items.items;
      for (i in reviews) {
        let item = reviews[i];
        if (item.ratings[0]) {
          ratings += parseInt(item.ratings[0].value);
        }
        // let item = reviews[i];
        // let val = item.ratings[0]['value'];
        // ratings += parseInt(val);
      }

      return (reviews && reviews.length && ratings > 0) ? Math.round(ratings / reviews.length) : 0;
    },
    noOfReviewsData () {
      return (this.$store.state.review.items.items) ? this.$store.state.review.items.items.length : 0
    },
    getAuthorname () {
      if (this.product.author) {
        let authordata = this.attributesByCode.author.options;
        let author = authordata.find(auther => parseInt(auther.value) === parseInt(this.product.author))
        return author.label
      }
      return '';
    }
  },
  methods: {
    handleQuantityError (error) {
      this.quantityError = error
    },
    close (e) {
      if (e) localStorage.removeItem('redirect')
      this.$bus.$emit('modal-hide', 'quick-view-modal')
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-888888: color(gray-888888);
$gray-444444: color(gray-444444);
$yellow-F5BE77: color(yellow-F5BE77);
$blue-76A3E4: color(blue-76A3E4);
$color-primary: color(primary);

.quick-view {
  .modal {
    .modal-container {
      padding: 50px;
      height: auto;

      @media (max-width: 767px) {
        padding: 50px 16px 16px;
        height: 90%;
        overflow-y: auto;
      }
    }
  }

  .product-cover,
  .product-link,
  .product-image {
    height: 100%;
  }

  .product-cover {
    position: relative;
    height: 450px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    .product__icons {
      position: absolute;
      top: 12px;
      right: 14px;
      z-index: 1;
    }
  }

  .product-tile-title {
    margin-bottom: 0;

    @media (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 7px;
    }
  }

  .product-item-info-list {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    .product-item-info-item {
      &::after {
        content: "|";
        margin-left: 10px;
        margin-right: 10px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  .product-tile-description {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    color: $gray-666666;
    margin-bottom: 25px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  .product-tile-price {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    color: $color-secondary;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    .price-regular {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 0;
      color: $color-secondary;
    }

    .price-original {
      font-size: 16px;
      font-weight: 500;
      color: $gray-888888;
    }
  }

  .qty-input {
    margin-bottom: 16px;
  }

  .product-tile-actions {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    button {
      margin: 0;
      width: 48%;
      flex: 0 0 48%;
      max-width: 48%;

      @media (max-width: 849px) {
        flex: 0 0 47%;
        max-width: 47%;
      }

      @media (max-width: 767px) {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 14px;
        padding: 11px 10px;
      }

      & + button {
        margin-left: 15px;

        @media (max-width: 767px) {
          margin-left: 0;
          margin-top: 12px;
        }
      }
    }
  }

  .product-rating-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
    font-size: 12px;
    color: $gray-888888;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    .product-rating {
      margin-right: 20px;
    }
  }

  .modal-close {
    position: absolute;
    right: -30px;
    top: -35px;
    cursor: pointer;
    transition: all 0.5s ease 0s;

    @media (max-width: 767px) {
      right: -10px;
      top: -45px;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  .info-btn-list {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 991px) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    .info-btn-item {
      border-radius: 6px;
      border: 1px solid $color-primary;
      padding: 9px 10px;
      font-size: 12px;
      font-weight: 600;
      color: $color-primary;
      background-color: rgba($color-primary, 0.06);
      display: flex;
      align-items: center;

      @media (min-width: 992px) {
        flex: 0 0 48%;
        max-width: 48%;
      }

      & + .info-btn-item {
        margin-left: 8px;

        @media (max-width: 991px) {
          margin-left: 0;
          margin-top: 12px;
        }
      }

      &.btn-yellow {
        color: $yellow-F5BE77;
        border-color: $yellow-F5BE77;
        background-color: rgba($yellow-F5BE77, 0.06);
      }

      &.btn-blue {
        color: $blue-76A3E4;
        border-color: $blue-76A3E4;
        background-color: rgba($blue-76A3E4, 0.06);
      }
    }
  }
}
</style>
