<template>
  <button-full @click.native="addToCart(product)" :disabled="isProductDisabled" data-testid="addToCart" class="add-to-cart-with-price">
    <svg class="mr5" width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Cart">
        <g id="Rectangle">
          <path id="Rectangle_2" d="M1.98742 7.13556C1.90673 6.39593 2.48603 5.75 3.23005 5.75H21.6309C22.5797 5.75 23.1826 6.7656 22.7283 7.59857L18.9101 14.5986C18.6911 15.0001 18.2702 15.25 17.8127 15.25H3.99368C3.35579 15.25 2.82023 14.7697 2.75106 14.1356L1.98742 7.13556Z" fill="white" fill-opacity="0.1" stroke="white" stroke-width="1.5" />
        </g>
        <path id="Path 3" d="M1 1.5H6" stroke="white" stroke-width="1.5" stroke-linecap="round" />
        <circle id="Oval" cx="5.5" cy="20.5" r="1.5" fill="white" />
        <circle id="Oval Copy 6" cx="13.9" cy="20.5" r="1.5" fill="white" />
      </g>
    </svg> <span>{{ $t('Add to cart') }}</span>
    <div class="price-wrap">
      &nbsp;-&nbsp;
      <product-price
        :product="product"
        :trim-price="true"
      />
    </div>
  </button-full>
</template>

<script>
import { formatProductMessages } from '@vue-storefront/core/filters/product-messages'
import { notifications } from '@vue-storefront/core/modules/cart/helpers'
import focusClean from 'theme/components/theme/directives/focusClean'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import ProductPrice from 'theme/components/core/ProductPrice'
import { StorageManager } from '@vue-storefront/core/lib/storage-manager'

export default {
  directives: { focusClean },
  components: { ButtonFull, ProductPrice },
  props: {
    product: {
      required: true,
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      cartItemStatus: []
    }
  },
  methods: {
    openMicrocart (product) {
      if (product) {
        // this.$parent.microcartProductName(product.name)
        this.$store.dispatch('ui/toggleMicrocart');
      }
    },
    onAfterRemovedVariant () {
      this.$forceUpdate()
    },
    async addToCart (product) {
      try {
        var cartItems = ''
        var message = ''
        var self = this;
        if (this.$store.state.cart.cartItems) {
          cartItems = this.$store.state.cart.cartItems
        } else {
          cartItems = ''
        }

        if (cartItems.length) {
          cartItems.forEach(cartItem => {
            this.cartItemStatus = [cartItem.stock_status]
          })

          if (this.cartItemStatus.length === 1) {
            if (this.cartItemStatus[0] === product.stock_status) {
              const diffLog = await this.$store.dispatch('cart/addItem', { productToAdd: product })
              if (diffLog.hasServerResponses()) {
                diffLog.serverResponses.forEach(respons => {
                  if (respons.status !== 200) {
                    StorageManager.get('cart').setItem('current-cart', [])
                    self.$store.dispatch('cart/sync', { forceSync: true })
                    self.$store.dispatch('cart/syncTotals', { forceServerSync: true })
                    self.$bus.$emit('modal-hide', 'quick-view-modal')
                  }
                })
              }
              diffLog.clientNotifications.forEach(notificationData => {
                this.notifyUser(notificationData)
                this.openMicrocart(product)
              })
            } else {
              if (this.cartItemStatus[0] === 'Ready') {
                message = this.$t('Please add only InStock Product(s)');
              } else {
                message = this.$t('Please add only PreOrder Product(s)');
              }
              this.notifyUser(notifications.createNotification({ type: 'error', message }))
            }
          } else {
            message = this.$t('There are InStock and PreOrder products are available on the cart. Please remove all items and again add the same stock status product(s)');
            this.notifyUser(notifications.createNotification({ type: 'error', message }))
          }
        } else {
          const diffLog = await this.$store.dispatch('cart/addItem', { productToAdd: product })
          diffLog.clientNotifications.forEach(notificationData => {
            this.notifyUser(notificationData)
          })
          this.openMicrocart(product)
        }
      } catch (message) {
        this.notifyUser(notifications.createNotification({ type: 'error', message }))
      }
    },
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    }
  },
  computed: {
    ...mapGetters({
      isAddingToCart: 'cart/getIsAdding'
    }),
    isProductDisabled () {
      return this.disabled || formatProductMessages(this.product.errors) !== '' || this.isAddingToCart
    },
    storeView () {
      return currentStoreView()
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-removevariant', this.onAfterRemovedVariant)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-removevariant')
  }
}
</script>
<style lang="scss">
.add-to-cart-with-price {
  .h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
  }

  .price-wrap {
    display: flex;
    align-items: center;
  }
}
</style>
