<template>
  <modal class="my-account-menu-popup" name="modal-myaccountmenu" :width="445">
    <div slot="header" class="align-center">
      {{ $t('SELECT') }}
    </div>
    <div slot="content">
      <div class="account-menu">
        <nav class="static-menu">
          <ul class="m0 p0">
            <li v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
              <router-link :to="localizedRoute(page.link)" @click.native="updateMobileMenuTxt(page.title, page.class)">
                <span class="menu-icon" v-html="page.icon" />
                <span class="relative pl30 block">{{ page.title }}</span>
              </router-link>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </modal>
</template>
<script>
import i18n from '@vue-storefront/i18n'
import Modal from 'theme/components/core/Modal'

export default {
  data () {
    return {
      navigation: [
        { title: this.$t('My profile'), link: '/my-account', class: 'my-profile-icon', icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.333 6.66659C13.333 8.50825 11.8413 9.99992 9.99965 9.99992C8.15799 9.99992 6.66632 8.50825 6.66632 6.66659C6.66632 4.82492 8.15799 3.33325 9.99965 3.33325C11.8413 3.33325 13.333 4.82492 13.333 6.66659ZM3.33301 14.9999C3.33301 12.7833 7.77467 11.6666 9.99967 11.6666C12.2247 11.6666 16.6663 12.7833 16.6663 14.9999V16.6666H3.33301V14.9999Z" fill="#666666"/></svg>' },
        { title: this.$t('Delivery Details'), link: '/my-account/shipping-details', class: 'delivery-details-icon', icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.95 2.525L17.0833 2.5C17.3167 2.5 17.5 2.68333 17.5 2.91667V15.5167C17.5 15.7083 17.375 15.8583 17.2 15.9167L12.5 17.5L7.5 15.75L3.05 17.475L2.91667 17.5C2.68333 17.5 2.5 17.3167 2.5 17.0833V4.48333C2.5 4.29167 2.625 4.14167 2.8 4.08333L7.5 2.5L12.5 4.25L16.95 2.525ZM7.5 14.075L12.5 15.8333V5.925L7.5 4.16667V14.075Z" fill="#666666"/></svg>' },
        { title: this.$t('Newsletter'), link: '/my-account/newsletter', class: 'newsletter-icon', icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.8337 6.66675C14.4503 6.66675 13.3337 5.55008 13.3337 4.16675C13.3337 2.78341 14.4503 1.66675 15.8337 1.66675C17.217 1.66675 18.3337 2.78341 18.3337 4.16675C18.3337 5.55008 17.217 6.66675 15.8337 6.66675ZM18.3337 15.0001V7.48344C17.6337 8.00844 16.7753 8.33344 15.8337 8.33344C15.3337 8.33344 14.867 8.23343 14.417 8.06677L10.0003 10.8334L3.33366 6.66677V5.0001L10.0003 9.16677L13.0587 7.25844C12.2087 6.49177 11.667 5.4001 11.667 4.16677C11.667 3.88344 11.7003 3.6001 11.7503 3.33344H3.33366C2.41699 3.33344 1.66699 4.08344 1.66699 5.0001V15.0001C1.66699 15.9168 2.41699 16.6668 3.33366 16.6668H16.667C17.5837 16.6668 18.3337 15.9168 18.3337 15.0001Z" fill="#666666"/></svg>' },
        { title: this.$t('Order'), link: '/my-account/orders', class: 'order-icon', icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.5401 5.81603C17.5687 5.877 17.583 5.94156 17.583 6.00612C17.583 6.0097 17.583 6.01329 17.5902 6.01688V14.9724C17.5902 15.1373 17.4937 15.288 17.3471 15.3597L9.97379 18.9462C9.97022 18.9498 9.97022 18.9498 9.96664 18.9498C9.95592 18.957 9.9452 18.9605 9.93447 18.9641C9.93029 18.9641 9.92733 18.9654 9.92487 18.9664C9.92314 18.9671 9.92166 18.9677 9.92018 18.9677L9.88801 18.9785C9.88622 18.9785 9.88444 18.9794 9.88265 18.9803C9.88086 18.9812 9.87908 18.9821 9.87729 18.9821C9.86657 18.9857 9.85227 18.9892 9.84155 18.9892H9.83083C9.81653 18.9928 9.79866 18.9928 9.78436 18.9928C9.77722 18.9928 9.76917 18.9919 9.76113 18.991C9.75309 18.9901 9.74505 18.9892 9.7379 18.9892H9.72718C9.72182 18.9874 9.71556 18.9865 9.70931 18.9857C9.70305 18.9848 9.6968 18.9839 9.69144 18.9821C9.69017 18.9821 9.68891 18.9816 9.68765 18.981C9.68712 18.9808 9.6866 18.9805 9.68608 18.9803C9.68429 18.9794 9.6825 18.9785 9.68071 18.9785L9.64855 18.9677C9.64436 18.9677 9.6414 18.9665 9.63895 18.9655C9.63721 18.9648 9.63573 18.9641 9.63425 18.9641C9.62353 18.957 9.61281 18.9534 9.60209 18.9498C9.59851 18.9462 9.59851 18.9462 9.59494 18.9462L2.24304 15.3705C2.09293 15.2987 2 15.1481 2 14.9831V6.0097V5.99177C2.00715 5.83038 2.10007 5.68692 2.24304 5.61878L9.59494 2.04304C9.71288 1.98565 9.85227 1.98565 9.97022 2.04304L17.2506 5.5865C17.3722 5.6116 17.4829 5.69409 17.5401 5.81603ZM16.157 6.0097L9.78079 2.90738L7.43262 4.05147L13.8088 7.15379L16.157 6.0097ZM9.78077 9.11202L3.4046 6.0097L6.44973 4.52847L12.8259 7.63079L9.78077 9.11202ZM10.2097 9.86161V17.8703L16.7252 14.6962V6.68756L14.1162 7.95718V10.4713C14.1162 10.708 13.9232 10.9017 13.6873 10.9017C13.4514 10.9017 13.2584 10.708 13.2584 10.4713V8.3768L10.2097 9.86161Z" fill="#666666"/></svg>' },
        { title: this.$t('My Reward Points'), link: '#', class: 'reward-points-icon', icon: '<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 15.7848L3.30164 12.4405C5.04917 11.1897 6.8247 10.9637 8.62824 11.7625H12.4302C13.1371 11.7625 13.7102 12.3356 13.7102 13.0425C13.7102 13.7494 13.1371 14.3225 12.4302 14.3225H9.58077V15.2385H12.9727C13.3015 15.2385 13.6142 15.0965 13.8305 14.849L17.1652 11.0339C17.6802 10.4446 18.5693 10.3689 19.1765 10.8626C19.7664 11.3421 19.8559 12.209 19.3763 12.7989C19.3709 12.8056 19.3654 12.8122 19.3598 12.8188L15.3362 17.5822C14.7734 18.2485 13.9455 18.6329 13.0734 18.6329H6.15819L5.05721 19.9151L0 15.7848Z" fill="#666666"/><path class="stroke-color" fill-rule="evenodd" clip-rule="evenodd" d="M10.7741 8.40823L8.263 9.7284L8.74258 6.93224L6.71105 4.95198L9.51855 4.54403L10.7741 2L12.0297 4.54403L14.8372 4.95198L12.8056 6.93224L13.2852 9.7284L10.7741 8.40823Z" stroke="#666666"/></svg>' },
        { title: this.$t('My Product Reviews'), link: '#', class: 'review-icon', icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.667 4.99992H10.0003L8.33366 3.33325H3.33366C2.41699 3.33325 1.67533 4.08325 1.67533 4.99992L1.66699 14.9999C1.66699 15.9166 2.41699 16.6666 3.33366 16.6666H16.667C17.5837 16.6666 18.3337 15.9166 18.3337 14.9999V6.66659C18.3337 5.74992 17.5837 4.99992 16.667 4.99992ZM11.667 13.3332H5.00034V11.6666H11.667V13.3332ZM5.00034 9.99992H15.0003V8.33325H5.00034V9.99992Z" fill="#666666"/></svg>' },
        { title: this.$t('Recently Viewed Products'), link: '/my-account/recently-viewed', class: 'recently-viewed-icon', icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.33301 10C3.33301 5.85833 6.69134 2.5 10.833 2.5C14.9747 2.5 18.333 5.85833 18.333 10C18.333 14.1417 14.9747 17.5 10.833 17.5C8.75801 17.5 6.89134 16.6583 5.53301 15.3L6.71634 14.1167C7.76634 15.175 9.22467 15.8333 10.833 15.8333C14.058 15.8333 16.6663 13.225 16.6663 10C16.6663 6.775 14.058 4.16667 10.833 4.16667C7.60801 4.16667 4.99967 6.775 4.99967 10H7.49967L4.13301 13.3583L4.07467 13.2417L0.833008 10H3.33301ZM9.99966 10.8333V6.66666H11.2497V10.2083L14.1663 11.9417L13.5663 12.95L9.99966 10.8333Z" fill="#666666"/></svg>' }
      ]
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$bus.$emit('modal-show', 'modal-myaccountmenu')
    })
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    updateMobileMenuTxt (mobilemenutxt, mobilemenuclass) {
      this.$bus.$emit('my-account-menu-clicked', mobilemenutxt, mobilemenuclass);
      this.$bus.$emit('modal-hide', 'modal-myaccountmenu')
    }
  },
  components: {
    Modal
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-E5E5E5: color(gray-E5E5E5);
$cyan-67B6C3: color(cyan-67B6C3);

.modal {
  &.my-account-menu-popup {
    .modal-container {
      height: auto;
      max-width: 445px;
      border-radius: 8px;
      width: 90% !important;
    }

    .modal-header {
      background-color: transparent;
      padding: 20px 25px;
      position: relative;
      margin: 0;
      border-bottom: 1px solid $gray-E5E5E5;
      text-align: center;
      justify-content: center;

      .modal-close {
        color: $color-primary;
        position: absolute;
        right: 25px;
        top: 20px;
      }
    }

    .modal-content {
      padding: 15px 30px;
      .static-menu{
        width:100%;
        ul{
          li{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            a{
              display:block;
              padding:15px 0;
              font-size: 14px;
              color: $gray-666666;
              &:after{
                display:none;
              }
              .menu-icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                line-height: 0;
                left: 0;
                svg {
                  path {
                    transition: all 0.5s ease 0s;
                  }
                }
              }
              &:hover{
                color: $cyan-67B6C3;
                .menu-icon {
                  svg {
                    path {
                      fill: $cyan-67B6C3;
                      &.stroke-color {
                        stroke: $cyan-67B6C3;
                      }
                    }
                  }
                }
              }
              &.router-link-exact-active{
                color: $cyan-67B6C3;
                font-weight:600;
                .menu-icon {
                  svg {
                    path {
                      fill: $cyan-67B6C3;
                      &.stroke-color {
                        stroke: $cyan-67B6C3;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
