<template>
  <div class="notifications fixed">
    <transition-group name="fade-in-down">
      <div
        class="notification mt20 border-box"
        v-for="(notification, index) in notifications"
        :key="`${notification.type}_${index}`"
        :class="[notification.type, notification.class != null ? notification.class : '']"
      >
        <div
          class="notification-close"
          v-if="!notification.class"
          @click="execAction('close', index)"
        >
          <i class="material-icons">
            close
          </i>
        </div>
        <div class="notification-wrap">
          <div
            @click="execAction(notification.action1, index)"
            class="message p20"
            data-testid="notificationMessage"
            v-html="notification.message"
          />
          <div class="actions" v-if="notification.action1 && notification.action2">
            <div
              class="py10 px20 pointer weight-400 action-border notification-action uppercase"
              id="notificationAction1"
              data-testid="notificationAction1"
              @click="execAction(notification.action1, index)"
              v-if="notification.action1"
            >
              {{ notification.action1.label }}
            </div>
            <div
              class="py10 px20 pointer weight-400 notification-action uppercase"
              id="notificationAction2"
              data-testid="notificationAction2"
              @click="execAction(notification.action2, index)"
              v-if="notification.action2"
            >
              {{ notification.action2.label }}
            </div>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import { Notification } from '@vue-storefront/core/modules/notification/components/Notification'

export default {
  mixins: [Notification],
  methods: {
    execAction (action, index) {
      if (action.action) {
        // for backward compatibility
        if (action.action === 'close') {
          this.$store.dispatch('notification/removeNotification', index)
        } else {
          action.action()
        }
      }
      this.$store.dispatch('notification/removeNotification', index)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$z-index-notification: map-get($z-index, notification);
$color-error: color(error);
$color-success: color(success);
$color-warning: color(warning);
$color-info: color(accent);
$color-action: color(black);
$white: color(white);
$color-primary: color(primary);
$color-secondary: color(secondary);
$black: color(black);
$gray-A3A3A3: color(gray-A3A3A3);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-666666: color(gray-666666);
$burnt-sienna: color(burnt-sienna);
$gray-EAEAEC: color(gray-EAEAEC);

.notifications {
  z-index: $z-index-notification;
  top: 100px;
  right: 40px;

  @media (max-width: 1023px) {
    right: 20px;
  }
}

.notification-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    .material-icons {
      font-size: 20px;
      color: $gray-A3A3A3;
      transition: all 0.5s ease 0s;

      &:hover {
        color: $color-secondary;
      }
    }
}

.notification {
  width: 320px;
  min-height: 100px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: $gray-666666;
  > *:not(.notification-close) {
    width: 100%;
  }
  @media (max-width: 64em) {
    width: auto;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;

    .fade-in-down-enter,
    .fade-in-down-leave-to {
      transform: translateY(100%);
    }
  }
  .message {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    padding-right: 40px;
    img, svg {
      margin: 7px 10px auto auto;
    }
  }
  @media (max-width: 767px) {
    max-width: 95%;
    margin-left: auto;
    margin-right: 0;
    .message {
      padding-right: 35px;
    }
  }
}
.notification {
  box-shadow: 0px 0px 15px -5px rgba($color-action, .7);
  background-color: $white;

  &:first-child  {
    margin-top: 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-top:2px solid $gray-EAEAEC;

  .notification-action {
    background: rgba($color-action, .2);
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    &:nth-child(2) {
      background-color: transparent;
      color: $color-action;
      &:hover {
        background-color: $color-action;
        color: $white;
      }
    }
  }

  #notificationAction2 {
    width: 100%;
  }
}
.success {
  background: $white;
  color: $color-primary;

  .actions {
    .notification-action {
      background: $color-secondary;
      color: $white;
      transition: all 0.3s ease 0s;
      &:nth-child(2) {
        background-color: transparent;
        color: $color-action;
        &:hover {
          background-color: $color-action;
          color: $white;
        }
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
.error {
  .message {
    color: $color-error;
    &:before {
      content: "warning";
      font-family: 'Material Icons';
      font-size: 22px;
      margin-right: 13px;
      font-weight: normal;
    }
  }
  .actions {
    .notification-action {
      background-color: transparent;
      &:nth-child(2) {
        color: $white;
        background-color: $color-error;
      }
    }
  }
}

.notification {
  &.large-notification {
    box-shadow: none;
    background-color: rgba($black, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    position: fixed;
    color: $color-primary;
    margin: 0;
    border-radius: 0;

    .notification-wrap {
      background-color: $white;
      padding: 60px 55px;
      border-radius: 20px;
      max-width: 595px;
      position: relative;
      margin: 0 auto;
      text-align: center;

      .notification-title {
        font-size: 30px;
        font-weight: 600;
        color: $color-primary;
        margin-bottom: 30px;
      }

      .message {
        padding: 0;
        color: $gray-A3A3A3;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 500;
        display: block;
      }

      .actions {
        justify-content: center;
        border: 0;

        .notification-action {
          font-size: 16px;
          font-weight: 500;
          border-radius: 6px;
          border: 1px solid $gray-D8D8D8;
          color: $gray-666666;
          margin-left: 20px;
          background-color: transparent;
          text-transform: capitalize;
          min-width: 180px;
          padding: 12px 10px;
          transition: all 0.3s ease 0s;

          &:hover {
            color: $white;
            background-color: $gray-666666;
            border-color: $gray-666666;
          }

          &:first-child {
            margin-left: 0;
          }

          &#notificationAction2 {
            width: auto;
            background-color: $burnt-sienna;
            color: $white;
            border-color: $burnt-sienna;

            &:hover {
              background-color: transparent;
              color: $burnt-sienna;
              border-color: $burnt-sienna;
            }
          }
        }
      }
    }
  }
}
</style>

<style lang="scss">
.notification {
  .message {
    svg {
      margin: auto 13px auto 0;
    }
  }
}
</style>
