<template>
  <div class="product align-center w-100" v-observe-visibility="visibilityChanged">
    <div
      class="product-cover"
      :class="[{ sale: labelsActive && isOnSale }, { new: labelsActive && isNew }, { 'border-enabled': productBorderEnabled }]"
    >
      <div class="product__icons">
        <AddToWishlist :product="product">
          <span
            class="product__icon wishlist-icon"
            :class="{'product__icon--active': isOnWishlist }"
            :title="isOnWishlist ? $t('Remove') : $t('Add to favorite') "
          >
            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path id="Path" fill-rule="evenodd" clip-rule="evenodd" d="M12.6364 1C15.0463 1 17 2.91878 17 5.28571C17 9.57027 9 16 9 16C9 16 1 9.57114 1 5.28571C1 2.91878 2.95367 1 5.36364 1C6.88183 1 8.21894 1.76148 9.00061 2.91676C9.78106 1.76148 11.1182 1 12.6364 1Z" fill="#A3A3A3" fill-opacity="0.1" stroke="#A3A3A3" stroke-width="1.5" />
            </svg>
          </span>
        </AddToWishlist>
      </div>
      <div class="product_label" v-if="product.label_image">
        <img :src="getProductLable(product.label_image)">
      </div>
      <router-link
        class="block no-underline product-link"
        :to="productLink"
        data-testid="productLink"
      >
        <product-image
          class="product-cover__thumb"
          :image="thumbnailObj"
          :alt="product.name | htmlDecode"
          :calc-ratio="false"
          data-testid="productImage"
        />
      </router-link>
      <button class="quick-view-button" @click="$bus.$emit('quick-view-popup',product)">
        {{ $t('Quick View') }}
      </button>
    </div>
    <div class="product-tile-info">
      <div class="product-tile-title align-left" v-if="!onlyImage">
        <router-link
          class="block no-underline product-link desktop-title"
          v-if="!isMobile"
          :to="productLink"
          data-testid="productLink"
        >
          {{ truncateString(product.name, 30, 4, 3) }}
        </router-link>
        <router-link
          class="block no-underline product-link mobile-title"
          v-if="isMobile"
          :to="productLink"
          data-testid="productLink"
        >
          {{ truncateString(product.name, 15, 4, 3) }}
        </router-link>
      </div>
      <div class="product-item-info-list">
        <div class="product-item-info-item" v-if="getAuthorname">
          <span class="product-item-info-title">{{ $t('Author Name: ') }}</span>
          <span class="product-item-info-text weight-600 text-underline cl-primary">{{ getAuthorname }}</span>
        </div>
        <div class="product-item-info-item">
          <span class="product-item-info-title">{{ $t('Release Date: ') }}</span>
          <span class="product-item-info-text">{{ product.created_at | date('DD-MM-YYYY') }}</span>
        </div>
      </div>
      <div class="info-btn-list">
        <div class="info-btn-item btn-yellow">
          <img src="/assets/reward-hand.svg" alt="Reward Points" class="mr5">
          {{ $t('You Get ') }} {{ product.product_reward_point }} {{ $t(' reward points') }}
        </div>
        <div class="info-btn-item btn-blue">
          <img src="/assets/delivery-time.svg" alt="Delivery Time" class="mr5">
          {{ $t('Get Deliverd by Tomorow') }}
          <img src="/assets/blue-tooltip.svg" alt="Tooltip" class="ml5">
        </div>
      </div>
      <div class="product-tile-description" v-html="product.short_description" v-if="product.short_description" />
    </div>
    <div class="product-tile-actions">
      <div class="product-tile-price">
        <span
          class="price-special"
          v-if="product.special_price && parseFloat(product.special_price) > 0"
        >{{ product.price_incl_tax | price(storeView) }}</span>

        <span
          v-if="!product.special_price && parseFloat(product.price_incl_tax) > 0"
        >{{ product.price_incl_tax | price(storeView) }}</span>

        <span
          class="price-original ml5"
          v-if="product.special_price && parseFloat(product.original_price_incl_tax) > 0"
        >{{ product.original_price_incl_tax | price(storeView) }}</span>
      </div>
      <add-to-cart-with-price
        :product="product"
        :key="product.id"
      />
      <button class="btn-outlined mt8 w-100" :disabled="product.read_sample !== 1" @click="$bus.$emit('read-sample-popup',product)">
        {{ $t('Read sample') }}
      </button>
    </div>
  </div>
</template>

<script>
import rootStore from '@vue-storefront/core/store'
import { ProductTile } from '@vue-storefront/core/modules/catalog/components/ProductTile.ts'
import config from 'config'
import ProductImage from './ProductImage'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { IsOnCompare } from '@vue-storefront/core/modules/compare/components/IsOnCompare'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import AddToCartWithPrice from 'theme/components/core/AddToCartWithPrice'
import { mapGetters } from 'vuex'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  data () {
    return {
      isMobile: false
    }
  },
  mixins: [ProductTile, IsOnWishlist, IsOnCompare],
  components: {
    ProductImage,
    AddToWishlist,
    // AddToCompare,
    AddToCartWithPrice
  },
  props: {
    labelsActive: {
      type: Boolean,
      default: true
    },
    onlyImage: {
      type: Boolean,
      default: false
    },
    productBorderEnabled: {
      type: Boolean,
      default: false
    }
  },
  created () {
    if (isServer) {
      return false
    }
    this.$nextTick(() => {
      if (window.matchMedia('(max-width: 479px)').matches) {
        this.isMobile = true;
      }
      window.addEventListener('resize', () => {
        if (window.matchMedia('(max-width: 479px)').matches) {
          this.isMobile = true;
        }
      });
    });
  },
  computed: {
    ...mapGetters({
      attributesByCode: 'attribute/attributeListByCode'
    }),
    thumbnailObj () {
      return {
        src: this.thumbnail,
        loading: this.thumbnail
      }
    },
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    },
    storeView () {
      return currentStoreView()
    },
    getAuthorname () {
      if (this.product.author) {
        let authordata = this.attributesByCode.author.options;
        let author = authordata.find(auther => parseInt(auther.value) === parseInt(this.product.author))
        return author.label
      }
      return '';
    }
  },
  methods: {
    getProductLable (lableImage) {
      return String(lableImage).split(',')[0]
    },
    onProductPriceUpdate (product) {
      if (product.sku === this.product.sku) {
        Object.assign(this.product, product)
      }
    },
    visibilityChanged (isVisible, entry) {
      if (
        isVisible &&
        config.products.configurableChildrenStockPrefetchDynamic &&
        config.products.filterUnavailableVariants &&
        this.product.type_id === 'configurable' &&
        this.product.configurable_children &&
        this.product.configurable_children.length > 0
      ) {
        const skus = [this.product.sku]
        for (const confChild of this.product.configurable_children) {
          const cachedItem = rootStore.state.stock.cache[confChild.id]
          if (typeof cachedItem === 'undefined' || cachedItem === null) {
            skus.push(confChild.sku)
          }
        }
        if (skus.length > 0) {
          rootStore.dispatch('stock/list', { skus: skus }) // store it in the cache
        }
      }
    },
    truncateString (str, firstCharCount = str.length, endCharCount = 0, dotCount = 3) {
      if (str.length > firstCharCount) {
        var convertedStr = '';
        convertedStr += str.substring(0, firstCharCount);
        convertedStr += '.'.repeat(dotCount);
        convertedStr += str.substring(str.length - endCharCount, str.length);
        return convertedStr;
      } else {
        return str;
      }
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-priceupdate', this.onProductPriceUpdate)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-priceupdate', this.onProductPriceUpdate)
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$bg-secondary: color(secondary, $colors-background);
$border-secondary: color(secondary, $colors-border);
$color-white: color(white);
$color-black: color(black);
$gray-DBDBDB: color(gray-DBDBDB);
$gray-F5F5F5: color(gray-F5F5F5);
$gray-A3A3A3: color(gray-A3A3A3);

.product {
  position: relative;
  &__icons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-top: 10px;
    z-index: 1;
  }
  &__icon {
    padding-top: 10px;
    z-index: 2;
    transition: 0.3s opacity $motion-main;
    &--active {
      opacity: 1;
    }
  }
  &_label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 1;
    padding-top: 10px;
    z-index: 2;
    transition: 0.3s opacity $motion-main;
    opacity: 1;
  }
  a:hover {
    .product-tile-title {
      color: $color-secondary;
    }
  }
}

.price-original {
  text-decoration: line-through;
}

%label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $border-secondary;
  text-transform: uppercase;
  color: $color-white;
  font-size: 12px;
}

.product-cover {
  overflow: hidden;
  background-color: transparent;
  border-radius: 6px;
  position: relative;

  &.border-enabled {
    border: 1px solid $gray-DBDBDB;
  }

  &__thumb {
    padding-bottom: calc(300% / (276.5 / 115));

    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      width: 100%;
      background-color: rgba($color-white, 0.6);
      opacity: 0;
      transition: all 0.5s ease 0s;
    }
  }

  @media screen and (min-width: 768px) {
    &:hover {
      .product-cover__thumb {
        &::after {
          opacity: 1;
        }
      }
      &.sale::after,
      &.new::after {
        opacity: 0.8;
      }
      .quick-view-button {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.sale {
    &::after {
      @extend %label;
      content: 'Sale';
    }
  }
  &.new {
    &::after {
      @extend %label;
      content: 'New';
    }
  }
}

.product-tile-title {
  color: $color-primary;
  font-size: 15px;
  font-weight: 600;
  margin: 12px 0;
  min-height: 48px;
  line-height: 24px;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // display: block;
  // display: -webkit-box;
  // -webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
  /* autoprefixer: off */

  @media (max-width: 767px) {
    font-size: 14px;
  }
}
.quick-view-button {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: 600;
  color: $color-white;
  background-color: $color-primary;
  border-radius: 6px;
  border: 1px solid $color-primary;
  box-shadow: 2px 2px 4px rgba($color-black, 0.2);
  padding: 9px 23px;
}
.product-link {
  &:hover {
    ~ {
     .quick-view-button {
        display: block;
      }
    }
  }
}

.product-tile-info {
  .product-link {
    color: $color-primary;

    &:hover, &:focus {
      color: $color-secondary;
    }
  }
  .info-btn-list,
  .product-tile-description,
  .product-item-info-list {
    display: none;
  }
}

.product-tile-actions {
  .product-tile-price {
    display: none;
  }
}
</style>
<style lang="scss">
.product-tile-actions {
  @media (max-width: 479px) {
    .add-to-cart-with-price > span {
      display: none;
    }
  }
}
</style>
