<template>
  <div class="product-thumb-slider">
    <div class="thumb-slider-left">
      <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs" @click-slide="onSwiperThumbsClick">
        <swiper-slide class="product-thumb-item" v-for="(images, index) in gallery" :key="images.src" :class="{ 'current-slide' : currentThumbSlide === index }">
          <product-image
            :image="images"
            :alt="productName | htmlDecode"
          />
        </swiper-slide>
      </swiper>
    </div>
    <div class="thumb-slider-right">
      <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
        <swiper-slide
          v-for="(images, index) in gallery"
          :key="images.src"
        >
          <div
            class="product-image-container"
            :class="{'video-container w-100 h-100 flex relative': images.video}"
          >
            <AddToWishlist :product="product">
              <span
                class="product__icon wishlist-icon"
                :class="{'product__icon--active': isOnWishlist }"
                :title="isOnWishlist ? $t('Remove') : $t('Add to favorite') "
              >
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="Path" fill-rule="evenodd" clip-rule="evenodd" d="M12.6364 1C15.0463 1 17 2.91878 17 5.28571C17 9.57027 9 16 9 16C9 16 1 9.57114 1 5.28571C1 2.91878 2.95367 1 5.36364 1C6.88183 1 8.21894 1.76148 9.00061 2.91676C9.78106 1.76148 11.1182 1 12.6364 1Z" fill="#A3A3A3" fill-opacity="0.1" stroke="#A3A3A3" stroke-width="1.5" />
                </svg>
              </span>
            </AddToWishlist>
            <product-image
              v-show="hideImageAtIndex !== index"
              class="pointer image"
              :image="images"
              :alt="productName | htmlDecode"
            />
            <product-video
              v-if="images.video && (index === currentPage)"
              v-bind="images.video"
              :index="index"
              @video-started="onVideoStarted"
            />
          </div>
        </swiper-slide>
      </swiper>
      <div id="thumb-slider-right-button-prev" class="swiper-button-prev" slot="button-prev">
        <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#ffffff" stroke-width="3" /></svg>
      </div>
      <div id="thumb-slider-right-button-next" class="swiper-button-next" slot="button-next">
        <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#ffffff" stroke-width="3" /></svg>
      </div>
    </div>
  </div>
</template>

<script>
import ProductImage from './ProductImage'
import ProductVideo from './ProductVideo'
import reduce from 'lodash-es/reduce'
import map from 'lodash-es/map'
import SwiperCore, { Navigation } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'

SwiperCore.use([Navigation]);

export default {
  mixins: [IsOnWishlist],
  components: {
    ProductImage,
    ProductVideo,
    Swiper,
    SwiperSlide,
    AddToWishlist
  },
  props: {
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      default: ''
    },
    product: {
      required: true,
      type: Object
    }
  },
  data () {
    let current = this
    return {
      hideImageAtIndex: null,
      currentThumbSlide: 0,
      swiperOptionTop: {
        spaceBetween: 0,
        navigation: {
          nextEl: '#thumb-slider-right-button-next',
          prevEl: '#thumb-slider-right-button-prev'
        },
        on: {
          slideChange () {
            current.swiperThumbs.slideTo(this.activeIndex, 500, false);
            current.currentThumbSlide = this.activeIndex;
          }
        }
      },
      swiperOptionThumbs: {
        direction: 'vertical',
        spaceBetween: 10,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true,
        breakpoints: {
          0: {
            direction: 'horizontal'
          },
          768: {
            direction: 'vertical'
          }
        },
        on: {
          slideChange () {
            current.swiperTop.slideTo(this.activeIndex, 500, false);
          }
        }
      }
    }
  },
  computed: {
    swiperTop () {
      return this.$refs.swiperTop.$swiper
    },
    swiperThumbs () {
      return this.$refs.swiperThumbs.$swiper
    }
  },
  mounted () {
    this.$emit('loaded')
  },
  methods: {
    onSwiperThumbsClick (index) {
      this.swiperTop.slideTo(index, 500, false);
    },
    onSwiperTopClick (index) {
      this.swiperThumbs.slideTo(index, 500, false);
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
.zoom-in {
  position: absolute;
  bottom: 0;
  right: 0;
}
.video-container {
  align-items: center;
  justify-content: center;
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$color-white: color(white);

.product-thumb-slider {
  display: flex;
  overflow: hidden;
  max-height: 600px;

  .thumb-slider-right {
    border: 0 none;
    background-color: $color-white;
    flex: 0 0 calc(100% - 90px);
    max-width: calc(100% - 90px);
    position: relative;

    .swiper-button-prev, .swiper-button-next {
      background-color: $color-secondary;
      cursor: pointer;
      padding: 9px 10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
    }

    .swiper-button-prev {
      left: 10px;
    }

    .swiper-button-next {
      right: 10px;
    }
  }

  .thumb-slider-left {
    padding-right: 10px;
    flex: 0 0 90px;
    max-width: 90px;

    .swiper-container {
      height: 100%;

      .swiper-slide {
        flex-grow: 0;
        flex-shrink: 1;
        height: auto;

        @media (max-width: 767px) {
          flex: 0 0 87px;
          max-width: 87px;
        }

        &.current-slide {
          .product-image {
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 2px;
              background-color: $color-secondary;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
.product-image-container {
  position: relative;
  .btn-wishlist {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    @media screen and (max-width: 767px) {
      top: 12px;
      right: 12px;
    }
  }
}
.product-thumb-item {
  .product-image {
    height: auto;
  }
}
</style>
